//"navigation": [
//  { "fnName": "fg", "colorName": "quahog--dark" },
//  { "fnName": "bg", "colorName": "ocean" },
//  { "fnName": "link", "colorName": "quahog--dark" },
//  { "fnName": "link--hover", "colorName": "navy" },
//  { "fnName": "link--hover__bg", "colorName": "white" },
//  { "fnName": "link--focus", "colorName": "navy" },
//  { "fnName": "link--active", "colorName": "calamari" },
//  { "fnName": "link--current__border", "colorName": "white" }
//],
.qh__navigation {
  background-color: var(--fc__navigation__bg);
  color: var(--fc__navigation__fg);

  a {
    display: block;
    transition: $transition-base;

    &:focus {
      outline-color: var(--fc__navigation__link--focus);
      outline-offset: -2px;
    }

    &:active {
      color: var(--fc__navigation__link--active);
    }
  }

  // Icons used in the nav
  .qh__icon__home,
  .qh__icon__chevron-down {
    @include icon-size();
  }

  .qh__icon__chevron-down {
    margin: -0.75em -0.75em -0.75em 0;
  }

  .qh__icon__home {
    margin: 0;

    &__shape {
      fill: var(--fc__navigation__icon__fg);
    }
  }

  // UL
  & > &__list {
    @include qh-content-maxwidth();
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  &__list {

    &__sub {
      background-color: var(--fc__navigation__link--hover__bg);
      box-shadow: $box-shadow-base;
      min-width: 100%;
      opacity: 0;
      position: absolute;
        top: 100%;
        left: 0;
      transition: 500ms opacity ease 0s, 0s visibility linear 500ms;
      visibility: hidden;
    }
  }

  // LI
  &__item {
    position: relative;
    overflow: visible;
    z-index: 10000;

    &__sub + &__sub::before {
      border-top: em(2) solid var(--fc__navigation__bg);
      content: '';
      display: block;
      height: 0;
      margin: 0 em(8);
    }
  }

  // An item with children in a drop down
  &__has-children &__link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;

    .qh__icon__chevron-down {
      &__circle {
        fill: var(--fc__navigation__icon__bg);
      }
      &__arrow {
        fill: var(--fc__navigation__icon__fg);
        transition: $transition-base;
        transform: rotate(0deg);
        transform-origin: center;
      }
    }

    &:hover,
    &:focus {
      // See lines below that group the LI:hover with the A:hover
    }

    // In the case where the current link looks disabled, but it is still a trigger to a drop down
    &--current,
    &--current:hover,
    &--current:focus {
      cursor: pointer;
    }
  }

  // Drop down menu support
  // Ideally CSS hovers are only present when JS does not load
  .no-js &__link:hover + &__list__sub,
  .no-js &__link:focus + &__list__sub,
  &__link[aria-expanded="true"] + &__list__sub,
  .no-js &__item:hover > &__list__sub,
  .no-js &__item:focus-within > &__list__sub {
    opacity: 1;
    transition: 500ms opacity ease 0s, 0s visibility linear 0s;
    visibility: visible;
  }

  // Hover styles grouped
  &__link:not(&__link--current):hover,
  &__link:not(&__link--current):focus,
  &__item:not(&__item__sub):hover > &__link:not(&__link--current):not(&__link--home),
  &__item:not(&__item__sub):focus-within > &__link:not(&__link--current):not(&__link--home),
  &__link[aria-expanded="true"] {
    background-color: var(--fc__navigation__link--hover__bg);
    color: var(--fc__navigation__link--hover);
    padding: em(16) em(16) em(12);

    .qh__icon__chevron-down {
      &__circle {
        fill: var(--fc__navigation__icon__bg--hover);
      }
      &__arrow {
        fill: var(--fc__navigation__icon__fg--hover);
      }
    }
  }

  // Rotation of icon
  .no-js &__link:hover,
  .no-js &__link:focus,
  .no-js &__item:not(&__item__sub):hover > &__link,
  &__link[aria-expanded="true"] {

    .qh__icon__chevron-down {
      &__arrow {
        transform: rotate(-0.5turn);
      }
    }
  }

  // A
  &__link {
    padding: em(12) em(16) em(16);

    &,
    &:visited,
    &--current,
    &--current:hover,
    &--current:focus {
      background-color: transparent;
      border-top: em(4) solid var(--fc__navigation__bg);
      color: var(--fc__navigation__link);
      text-decoration: none;
    }

    &:hover,
    &:focus {
      // See lines above that group the LI:hover with the A:hover
    }

    // Treat a current link as disabled. It should not have a visual state change
    &--current,
    &--current:hover,
    &--current:focus {
      border-top-color: var(--fc__navigation__link--hover__bg);
      cursor: default;
    }

    &__sub {
      border: 0;
      padding: em(10) em(16);

      &:hover,
      &:focus {
        background-color: var(--fc__navigation__link__sub--hover__bg);
      }
    }

    // Exception
    &--home,
    &--home:visited {
      border-top: 0;
      padding: em(1);

      &:hover,
      &:focus {
        padding: em(1) !important;
      }
    }
  }
}
