// We need a wrapper that can hide the off-canvas nav panel for mobile
.dialog-off-canvas-main-canvas {
  position: relative;
  //overflow: hidden;
}

// Set a CSS var that JS will check for the state of the nav
body {
  --nav-state: js-mobile;
}
@include breakpoint-up($bp__show__desktop-nav) {
  body {
    --nav-state: js-desktop;
  }
}

.qh__nav-main {
  background-color: var(--fc__nav-main__bg);
  color: var(--fc__nav-main__fg);
  overflow-x: clip;

  @media print {
    display: none;
  }

  a {
    //display: block;
    transition: $transition-base;
  }

  // There is one of this in the UL and one outside for mobile
  .qh__icon__home {}

  // <div>
  &__wrapper {
    @include qh-content-maxwidth();
    position: relative;
    overflow: hidden;
    z-index: z(desktop-nav-bar);
    &.open {
      overflow: visible;
    }

    @include breakpoint-up($bp__show__desktop-nav) {
      overflow: visible;
    }


    // For mobile we need to flex
    @include breakpoint-down($bp__show__desktop-nav) {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      z-index: z(mobile-nav-bar);
    }
  }

  // mobile button
  &__toggle {
    background-image: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 $nav-a-h-spacing 0 ($nav-a-h-spacing/2);

    &,
    &:visited {
      color: var(--fc__nav-main__link);
      background-color: transparent;
    }

    &:hover,
    &:focus {
      color: var(--fc__nav-main__link--hover);
      background-color: transparent;
    }

    &:active {
      color: var(--fc__nav-main__link--active);
      background-color: transparent;
    }

    &__label {}

    // Hidden for desktop
    @include breakpoint-up($bp__show__desktop-nav) {
      display: none;
    }

    // Menu icon general styles
    .qh__icon__menu {
      @include qh-icon-size;
      overflow: hidden;
      position: relative;
      z-index: 1;

      // Draw three bars with CSS
      &::before,
      &::after,
      > span {
        display: block;
        background-color: currentColor;
        height: rem(2);
        position: absolute;
        width: rem(20);
      }

      // Top bar
      &::before {
        content: '';
        top: rem(12);
        left: rem(12);
      }

      // Mid bar
      > span {
        top: rem(21);
        left: rem(12);
      }

      // Bottom bar
      &::after {
        content: '';
        top: rem(30);
        left: rem(12);
      }
    } // end .qh__icon__menu

    // Slight animation of the icon on hover, focus, and active (for tap)
    &:hover,
    &:focus,
    &:active {
      .qh__icon__menu::before,
      .qh__icon__menu::after {
        left: rem(10);
      }
      .qh__icon__menu > span {
        left: rem(14);
      }
    }

    // Icon animation on aria-expanded change
    &[aria-expanded="false"] {

      .qh__icon__menu::before,
      .qh__icon__menu::after,
      .qh__icon__menu > span {
        transform: rotate(0deg);
      }

      .qh__icon__menu::before,
      .qh__icon__menu::after {
        transition:
          transform $transition-duration-base ease,
          top $transition-duration-base ease,
          left $transition-duration-base ease,
          width $transition-duration-base ease;
      }

      .qh__icon__menu > span {
        opacity: 1;
        // Transition as it comes back into view from the "true" state
        transition:
          opacity $transition-duration-base ease ($transition-duration-base/4),
          left $transition-duration-base ease 0ms;
      }
    }

    &[aria-expanded="true"] {

      .qh__icon__menu::before,
      .qh__icon__menu::after {
        transition:
          transform $transition-duration-base ease,
          top $transition-duration-base ease,
          left $transition-duration-base ease,
          width $transition-duration-base ease;
      }

      // Top bar — spin and drop down
      .qh__icon__menu::before {
        top: rem(21);
        left: rem(10);
        transform: rotate(135deg);
        width: rem(24);
      }

      // Mid bar — fly away left
      .qh__icon__menu > span {
        left: - rem(20);
        opacity: 0;
        transition:
          opacity $transition-duration-base ease 0ms,
          left $transition-duration-base ease ($transition-duration-base/4);
      }

      // Botton bar – spin and lift up
      .qh__icon__menu::after {
        top: rem(21);
        left: rem(10);
        transform: rotate(-135deg);
        width: rem(24);
      }
    }
  } // end &__toggle

  // <ul>
  &__list {
    max-width: none;

    &__outermost {
      // For mobile, this an off canvas right drawer
      @include breakpoint-down($bp__show__desktop-nav) {
        background-color: var(--fc__nav-main__bg);
        color: var(--fc__nav-main__fg);
        max-width: em(480);
        opacity: 0;
        position: absolute;
        top: 100%;
        right: calc((100vw - var(--content-max-width)) * -0.5);
        transform: translateX(100vw);
        transition:
          opacity $transition-duration-medium $transition-timing-base 0ms,
          transform $transition-duration-medium $transition-timing-base 0ms,
          visibility $transition-duration-medium $transition-timing-base $transition-duration-base;
        visibility: hidden; // Needed to keep anchor from being keyboard tabbable
        width: 86vw;

        > li {
          transition: transform $transition-duration-base $transition-timing-base ($transition-duration-base/2);
          transform: translateX(em(240));
        }

        [aria-expanded="true"] + & {
          opacity: 1;
          transform: translateX(0);
          transition:
            opacity $transition-duration-medium $transition-timing-base 0ms,
            transform $transition-duration-medium $transition-timing-base 0ms,
            visibility $transition-duration-medium $transition-timing-base 0ms;
          visibility: visible;

          > li {
            transform: translateX(0);
          }
        }
      }

      // For desktop the design is a horizontal row
      @include breakpoint-up($bp__show__desktop-nav) {
        display: flex;
        flex-flow: row nowrap;
        align-items: top;
        justify-content: flex-start;
      }
    } // end &__outermost

    &__sub {
      background-color: var(--fc__nav-main__link--hover__bg);
      min-width: 15rem;

      @include breakpoint-down($bp__show__desktop-nav) {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0s linear 1s, visibility 0s linear 0s;
        visibility: hidden;

        > li {
          border-left: ($nav-a-v-spacing * 0.5) solid var(--fc__nav-main__bg);
          opacity: 0;
          transition: $transition-base 0ms;
        }

        .js [aria-expanded="true"] + & {
          max-height: unset;
          transition: max-height 0s linear 500s, visibility 0s linear 0ms;
          visibility: visible;

          > li {
            opacity: 1;
            transition: $transition-base ($transition-duration-base/2);
          }
        }
      }

      @include breakpoint-up($bp__show__desktop-nav) {
        box-shadow: $box-shadow-base;
        opacity: 0;
        position: absolute;
          top: 100%;
          left: 0;
        transition: $transition-duration-medium opacity ease 0s, 0s visibility linear $transition-duration-medium;
        visibility: hidden;

        .qh__nav-main__item:last-child & {
          left: auto;
          right: 0;
        }
      }
    } // end &__sub
  } // end &__list

  // <li>
  &__item {
    position: relative;
    overflow: visible;
    z-index: z(drop-down-menu);

    &__sub + &__sub::before {
      border-top: $border-sm solid var(--fc__nav-main__bg);
      content: '';
      display: block;
      height: 0;
      margin: 0 em(8);
    }

    // For mobile, Search and Social list item are added
    &__search {
      padding: ($nav-a-v-spacing * 0.5) ($nav-a-h-spacing * 0.5);

      .qh__form__nowrap > input {
        // Remove max-width from the search styles
        max-width: unset;
      }
    }

    &__social {
      padding: ($nav-a-v-spacing * 0.5) ($nav-a-h-spacing * 0.5);

      // Specifically set these colors, otherwise, header colors are used
      .qh__social-links a.qh__social-links__link,
      .qh__social-links a.qh__social-links__link:visited {
        color: var(--fc__nav-main__link);
      }

      .qh__social-links a.qh__social-links__link:hover,
      .qh__social-links a.qh__social-links__link:focus {
        color: var(--fc__nav-main__link--hover__bg);
      }
    }

    &__search,
    &__social {
      @include breakpoint-up($bp__show__desktop-nav) {
        // Handle the flash of content when it is there before JS debounces
        opacity: 0;
        visibility: hidden;
        width: 0;
      }
    }
  }

  // An item with children in a drop down
  &__has-children &__link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    @include breakpoint-down($bp__show__desktop-nav) {
      justify-content: space-between;
    }

    .qh__icon {
      flex: 0 0 $icon-dimension;
      margin: -0.75em -1em -0.75em 0;
    }

    .qh__icon__chevron-down {
      &__circle {
        fill: var(--fc__nav-main__icon__bg);
      }
      &__arrow {
        fill: var(--fc__nav-main__icon__fg);
        transition: $transition-base;
        transform: rotate(0deg);
        transform-origin: center;
      }
    }

    &:hover,
    &:focus {
      // See lines below that group the LI:hover with the A:hover
    }

    // In the case where the current link looks disabled, but it is still a trigger to a drop down
    &#{&}--current,
    &#{&}--current:hover,
    &#{&}--current:focus {
      cursor: pointer;
      pointer-events: auto;
    }
  }

  // Drop down menu support
  // Ideally CSS hovers are only present when JS does not load
  .no-js &__link:hover + &__list__sub,
  .no-js &__link:focus + &__list__sub,
  //.no-js &__item:focus-within > &__list__sub, !ACK focus-within BREAKS ie11
  &__link[aria-expanded="true"] + &__list__sub {
    opacity: 1;
    transition: $transition-duration-medium opacity ease 0s, 0s visibility linear 0s;
    visibility: visible;
  }

  // Hover styles grouped
  &__item:not(&__item__sub) > &__link:hover,
  &__item:not(&__item__sub) > &__link:focus,
  &__item:not(&__item__sub):hover > &__link:not(&__link--current):not(&__link--home),
  //&__item:not(&__item__sub):focus-within > &__link:not(&__link--current):not(&__link--home), !ACK focus-within BREAKS ie11
  &__link[aria-expanded="true"] {
    background-color: var(--fc__nav-main__link--hover__bg);
    color: var(--fc__nav-main__link--hover);
    padding-top: $nav-a-v-spacing;
    padding-bottom: ($nav-a-v-spacing * 0.75);

    .qh__icon__chevron-down {
      &__circle {
        fill: var(--fc__nav-main__icon__bg--hover);
      }
      &__arrow {
        fill: var(--fc__nav-main__icon__fg--hover);
      }
    }
  }

  // Rotation of icon
  .no-js &__link:hover,
  .no-js &__link:focus,
  .no-js &__item:not(&__item__sub):hover > &__link,
  &__link[aria-expanded="true"] {

    .qh__icon__chevron-down {
      &__arrow {
        transform: rotate(-0.5turn);
      }
    }
  }

  // <a>
  &__link {
    padding: ($nav-a-v-spacing * 0.75) $nav-a-h-spacing--sm $nav-a-v-spacing;

    @include onlyIE() {
      padding-left: ($nav-a-h-spacing--sm * 0.5);
      padding-right: ($nav-a-h-spacing--sm * 0.5);
    }

    &,
    &:visited {
      background-color: transparent;
      color: var(--fc__nav-main__link);
      display: block;
      font-size: clamp(0.875rem, 1.125vw, 1rem);
      font-weight: 450;
      line-height: clamp(1.2rem, 3vw, 1.3rem);
      text-decoration: none;
      word-break: normal;

      @include breakpoint-up($bp__show__desktop-nav) {
        border-top: ($nav-a-v-spacing * 0.25) solid var(--fc__nav-main__bg);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
    }

    &:hover,
    &:focus {
      // See lines above that group the LI:hover with the A:hover
    }

    &:focus {
      outline-color: var(--fc__nav-main__link--focus);
      outline-offset: -2px;
    }

    &:active {
      color: var(--fc__nav-main__link--active);
    }

    // Treat a current link as disabled. It should not have a visual state change
    &#{&}--current {
      color: var(--fc__nav-main__fg);
      // cursor: default;
      font-weight: 550;
      padding-top: ($nav-a-v-spacing * 0.75);
      padding-bottom: $nav-a-v-spacing;
      // pointer-events: none;

      @include breakpoint-down($bp__show__desktop-nav) {
        border-left: ($nav-a-v-spacing * 0.5) solid var(--fc__nav-main__link--hover__bg);
      }

      @include breakpoint-up($bp__show__desktop-nav) {
        border-top: ($nav-a-v-spacing * 0.25) solid var(--fc__nav-main__link--hover__bg);
      }
    }

    &__sub {
      border: 0;
      padding: $nav-a-v-spacing--sm $nav-a-h-spacing--sm;

      &:hover,
      &:focus {
        background-color: var(--fc__nav-main__link__sub--hover__bg);
      }
    }

    &__sub#{&}--current {
      background-color: var(--fc__nav-main__link__sub--hover__bg);
      //cursor: default;
      padding: $nav-a-v-spacing--sm $nav-a-h-spacing--sm;
      //pointer-events: none;
    }

    // Exceptions

    // Home button in navbar
    .qh__nav-main__wrapper > &--home {
      // Hide for desktop
      @include breakpoint-up($bp__show__desktop-nav) {
        display: none;
        visibility: hidden;
      }
    }

    // Home button in drop down navigation
    .qh__nav-main__list__outermost &--home {
      // Hide for mobile
      @include breakpoint-down($bp__show__desktop-nav) {
        display: none;
        visibility: hidden;
      }
    }

    &--home .qh__icon {
      margin: 0;
    }

    &--home,
    &--home:visited {
      border-top: 0;
      padding: em(1);

      &:hover,
      &:focus {
        padding: em(1) !important;
      }

      @include onlyIE() {
        padding-top: 0.5rem;

        &:hover,
        &:focus {
          padding-top: 0.5rem !important;
        }
      }
    }
  }
}
