.qh__nav-main {
  background-color: var(--fc__nav-main__bg);
  color: var(--fc__nav-main__fg);

  a {
    display: block;
    transition: $transition-base;
  }

  // Icons used in the nav
  .qh__icon {
    margin: -0.75em -0.75em -0.75em 0;
  }

  .qh__icon__home {
    &__shape {
      fill: var(--fc__nav-main__fg);
    }
  }

  // UL
  & > &__list {
    @include qh-content-maxwidth();
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  &__list {

    &__sub {
      background-color: var(--fc__nav-main__link--hover__bg);
      box-shadow: $box-shadow-base;
      min-width: 15rem;
      opacity: 0;
      position: absolute;
        top: 100%;
        left: 0;
      transition: $transition-duration-medium opacity ease 0s, 0s visibility linear $transition-duration-medium;
      visibility: hidden;
    }
  }

  // LI
  &__item {
    position: relative;
    overflow: visible;
    z-index: z(drop-down-menu);

    &__sub + &__sub::before {
      border-top: $border-sm solid var(--fc__nav-main__bg);
      content: '';
      display: block;
      height: 0;
      margin: 0 em(8);
    }
  }

  // An item with children in a drop down
  &__has-children &__link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;

    .qh__icon__chevron-down {
      &__circle {
        fill: var(--fc__nav-main__icon__bg);
      }
      &__arrow {
        fill: var(--fc__nav-main__icon__fg);
        transition: $transition-base;
        transform: rotate(0deg);
        transform-origin: center;
      }
    }

    &:hover,
    &:focus {
      // See lines below that group the LI:hover with the A:hover
    }

    // In the case where the current link looks disabled, but it is still a trigger to a drop down
    &--current,
    &--current:hover,
    &--current:focus {
      cursor: pointer;
      pointer-events: auto;
    }
  }

  // Drop down menu support
  // Ideally CSS hovers are only present when JS does not load
  .no-js &__link:hover + &__list__sub,
  .no-js &__link:focus + &__list__sub,
  &__link[aria-expanded="true"] + &__list__sub,
  .no-js &__item:hover > &__list__sub,
  .no-js &__item:focus-within > &__list__sub {
    opacity: 1;
    transition: $transition-duration-medium opacity ease 0s, 0s visibility linear 0s;
    visibility: visible;
  }

  // Hover styles grouped
  &__item:not(&__item__sub) > &__link:hover,
  &__item:not(&__item__sub) > &__link:focus,
  &__item:not(&__item__sub):hover > &__link:not(&__link--current):not(&__link--home),
  &__item:not(&__item__sub):focus-within > &__link:not(&__link--current):not(&__link--home),
  &__link[aria-expanded="true"] {
    background-color: var(--fc__nav-main__link--hover__bg);
    color: var(--fc__nav-main__link--hover);
    padding: $nav-a-v-spacing $nav-a-h-spacing--sm ($nav-a-v-spacing * 0.75);

    .qh__icon__chevron-down {
      &__circle {
        fill: var(--fc__nav-main__icon__bg--hover);
      }
      &__arrow {
        fill: var(--fc__nav-main__icon__fg--hover);
      }
    }
  }

  // Rotation of icon
  .no-js &__link:hover,
  .no-js &__link:focus,
  .no-js &__item:not(&__item__sub):hover > &__link,
  &__link[aria-expanded="true"] {

    .qh__icon__chevron-down {
      &__arrow {
        transform: rotate(-0.5turn);
      }
    }
  }

  // A
  &__link {
    padding: ($nav-a-v-spacing * 0.75) $nav-a-h-spacing--sm $nav-a-v-spacing;

    &,
    &:visited {
      background-color: transparent;
      border-top: ($nav-a-v-spacing * 0.25) solid var(--fc__nav-main__bg);
      color: var(--fc__nav-main__link);
      font-size: clamp(0.925rem, 1.5vw, 1rem);
      font-weight: 450;
      text-decoration: none;
    }

    &:hover,
    &:focus {
      // See lines above that group the LI:hover with the A:hover
    }

    &:focus {
      outline-color: var(--fc__nav-main__link--focus);
      outline-offset: -2px;
    }

    &:active {
      color: var(--fc__nav-main__link--active);
    }

    // Treat a current link as disabled. It should not have a visual state change
    &#{&}--current {
      border-top-color: var(--fc__nav-main__link--hover__bg);
      color: var(--fc__nav-main__fg);
      cursor: default;
      font-weight: 550; // TODO: replace this with the proper font weight
      padding: $nav-a-v-spacing $nav-a-h-spacing--sm ($nav-a-v-spacing * 0.75);
      pointer-events: none;
    }

    &__sub {
      border: 0;
      padding: $nav-a-v-spacing--sm $nav-a-h-spacing--sm;

      &:hover,
      &:focus {
        background-color: var(--fc__nav-main__link__sub--hover__bg);
      }
    }

    &__sub#{&}--current {
      background-color: var(--fc__nav-main__link__sub--hover__bg);
      cursor: default;
      padding: $nav-a-v-spacing--sm $nav-a-h-spacing--sm;
      pointer-events: none;
    }

    // Exception
    &--home .qh__icon {
      margin: 0;
    }

    &--home,
    &--home:visited {
      border-top: 0;
      padding: em(1);

      &:hover,
      &:focus {
        padding: em(1) !important;
      }
    }
  }
}
