<div class="qh__file-list">
  <div class="qh__file-list__inner">
    {{ paragraph.field_item_header_text.value }}
    <ol class="qh-u__list-reset qh__file-list__list" role="list">

      <li class="qh__file-list__item">
        {#
          Should this anchor be a molecule of its own that we pull in for any file downnload?

          If so, we might want to change the class name pattern slightly so that it can
          function outside of the "file-list" organism.
          Easy enough to do, I'm just not positive about the approach.
        #}
        <a href="#" class="qh__file-list__link">
          <div class="qh__file-list__item__icon">
            <span class="qh__icon" aria-hidden="true">
              {% include ('@icons/file-pdf.svg') %}
            </span>
          </div>
          <div class="qh__file-list__item__filename">
            <span class="qh__file-list__item__label">Unsolicited Seeds Self-Reporting Form</span>
            {# Intent for file size: If it is less than 1mb, simplify the text to "less than 1mb" #}
            <span class="qh__file-list__item__filesize"><span class="visually-hidden">, </span>PDF file, less than 1<span aria-hidden="true">mb</span><span class="visually-hidden">megabytes</span></span>
          </div>
          <div class="qh__file-list__item__download">
            <span class="qh__icon">
              {% include ('@icons/download.svg') %}
            </span>
            <span class="visually-hidden">, Select to download</span>
          </div>
        </a>
      </li>

      <li class="qh__file-list__item">
        <a href="#" class="qh__file-list__link">
          <div class="qh__file-list__item__icon">
            <span class="qh__icon" aria-hidden="true">
              {% include ('@icons/file-word.svg') %}
            </span>
          </div>
          <div class="qh__file-list__item__filename">
            <span class="qh__file-list__item__label">Request for Public Records Form</span>
            {# Intent for file size: If it is more than 1mb, simplify the text to "about Xmb" where Xmb is a ceiling value of the file size #}
            {# Need to detect for Word files via .doc and .docx file extensions #}
            <span class="qh__file-list__item__filesize"><span class="visually-hidden">, </span>Word file, about 5<span aria-hidden="true">mb</span><span class="visually-hidden">megabytes</span></span>
          </div>
          <div class="qh__file-list__item__download">
            <span class="qh__icon">
              {% include ('@icons/download.svg') %}
            </span>
            <span class="visually-hidden">, Select to download</span>
          </div>
        </a>
      </li>

      <li class="qh__file-list__item">
        <a href="#" class="qh__file-list__link">
          <div class="qh__file-list__item__icon">
            <span class="qh__icon" aria-hidden="true">
              {% include ('@icons/file-excel.svg') %}
            </span>
          </div>
          <div class="qh__file-list__item__filename">
            <span class="qh__file-list__item__label">List of non-contact cooling water permits, remediation general permits, and multi-sector general permits</span>
            {# Need to detect for Excel files via .csv, .xls, and .xlsx file extensions #}
            <span class="qh__file-list__item__filesize"><span class="visually-hidden">, </span>Excel X file, about 10<span aria-hidden="true">mb</span><span class="visually-hidden">megabytes</span></span>
          </div>
          <div class="qh__file-list__item__download">
            <span class="qh__icon">
              {% include ('@icons/download.svg') %}
            </span>
            <span class="visually-hidden">, Select to download</span>
          </div>
        </a>
      </li>

      <li class="qh__file-list__item">
        <a href="#" class="qh__file-list__link">
          <div class="qh__file-list__item__icon">
            <span class="qh__icon" aria-hidden="true">
              {# Any non-PDF, Word, or Excel file is considered generic #}
              {% include ('@icons/file-generic.svg') %}
            </span>
          </div>
          <div class="qh__file-list__item__filename">
            <span class="qh__file-list__item__label">MapGIS XML coordinates of UST locations</span>
            <span class="qh__file-list__item__filesize"><span class="visually-hidden">, </span>XML file, about 14<span aria-hidden="true">mb</span><span class="visually-hidden">megabytes</span></span>
          </div>
          <div class="qh__file-list__item__download">
            <span class="qh__icon">
              {% include ('@icons/download.svg') %}
            </span>
            <span class="visually-hidden">, Select to download</span>
          </div>
        </a>
      </li>

    </ol>
  </div>
</div>
