<p style="max-width: unset">
  <a href="#" class="qh__btn">Button default</a>
  <a href="#" class="qh__btn qh__btn--secondary">Button Secondary</a>
  <a href="#" class="qh__btn qh__btn--disabled">Button Disabled</a>
</p>
<p style="max-width: unset">
  <input type="text" style="display: inline; width: auto;" cols="10" value="Dummy input">
  <a href="#" class="qh__btn">Button (&lt;a&gt;)</a>
  <button class="qh__btn">Button (&lt;button&gt;)</button>
  <input type="button" class="qh__btn" value="Button (&lt;input button&gt;)">
  <input type="submit" class="qh__btn" value="Button (&lt;input submit&gt;)">
  <input type="reset" class="qh__btn" value="Button (&lt;input reset&gt;)">
</p>
