.qh__breadcrumb {

  &__wrapper {
    @include qh-content-maxwidth();
    margin-top: 2rem;
  }

  // <ol>
  &__list {}

  // <li>
  &__item {
    display: inline-block;
    margin-right: - rem(4);
    vertical-align: middle;

    &--home {
      @include breakpoint-down($bp--small) {
        display: none;
      }
    }

    &:last-child {
      .qh__breadcrumb__page::after {
        content: '';
      }
    }
  }

  // <a> and <span>
  &__page {
    display: block;
    font-size: 87.5%;
  }

  @at-root {
    *#{&}__page::after {
      display: inline-block;
      content: '»';
      margin: 0 0.5em;
    }
  }
}
