<nav class="qh__breadcrumb" aria-label="{{ 'Page Breadcrumb Trail'|t }}">
  <ol class="qh__breadcrumb__list">
    <li class="qh__breadcrumb__item qh__breadcrumb__item--home">
      <a class="qh__breadcrumb__page" href="/">Home</a>
    </li>
    <li class="qh__breadcrumb__item">
      <a class="qh__breadcrumb__page" href="#">Parent Section</a>
    </li>
    <li class="qh__breadcrumb__item">
      <a class="qh__breadcrumb__page" href="#">Child Section</a>
    </li>
    <li class="qh__breadcrumb__item">
      <span class="qh__breadcrumb__page">Current Page</span>
    </li>
  </ol>
</nav>
