
.qh__modal {
  .btn-trigger {
    margin: 0 0 300px;
  }

  .modal {
    position: relative;
    z-index: 1000;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    background-color: var(--color--white);
    max-width: 500px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
    margin: ($general-v-spacing * 4) ($general-h-spacing * 4);
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fc__header__bg);
    padding: $general-v-spacing ($general-h-spacing * 2);

    h2 {
      margin: 0;
      color: var(--fc__header__fg);
    }
  }

  &__body {
    background-color: var(--fc__default__bg);
    color: var(--fc__default__fg);
    padding: ($general-v-spacing * 2) ($general-h-spacing * 2);

    > * {
      text-align: center;
    }
  }

  &__footer {
    text-align: center;
    margin-top: $general-v-spacing;
  }

  &__icon {
    max-width: 100px;
    margin: 0 auto 1rem;
  }


  /**************************\
    Demo Animation Style
  \**************************/
  @keyframes mm-fadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }

  @keyframes mm-slideIn {
    from { transform: translateY(15%); }
      to { transform: translateY(0); }
  }

  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mm-fadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mm-slideIn .3s cubic-bezier(0, 0, .2, 1);
  }

  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }

  .modal[aria-hidden='true'] {
    display: none;
  }

}


