form {
  margin-top: calc(var(--body-text-spacer) * 1);
  margin-bottom: calc(var(--body-text-spacer) * 1);
}

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
  > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    margin-right: 1rem;
    margin-top: 1rem;
    min-width: 21rem;
  }
  > legend {
    min-width: unset;
  }
  > p {
    flex-basis: auto;
    width: 100%;
  }
  h2,
  h3 {
    flex-basis: auto;
    width: 100%;
  }
  .full-width {
    flex-basis: auto;
    width: 100%;
  }
}

fieldset {
  padding: 1rem 0 1rem 1rem;
  > legend {
      display: block;
      font-family: var(--font-sans-vf);
      font-size: 1rem;
      font-weight: 575;
      text-transform: uppercase;
  }
  + fieldset {
    margin-top: calc(var(--body-text-spacer) * 1.5);
  }
}

.form__row {
  padding: 1rem;
  * & {
    margin-top: calc(var(--body-text-spacer) * 1.5);
  }
}

.form__actions {
  a {
    font-family: var(--font-sans-vf);
    font-size: 1rem;
    font-weight: 400;
  }
}

input[type='text'],
input[type='url'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='tel'],
input[type='week'] {
  font-family: var(--font-sans-vf);
  font-size: 1rem;
  font-weight: 500;
  width: 100%;


  // This are new styles… I'm not sure about the rest
  background-color: var(--fc__default__bg);
  border: $border-sm solid var(--fc__default__border);
  border-radius: $input-border-radius;
  color: var(--fc__default__fg);
  display: inline-block;
  line-height: 1.25;
  padding: $input-v-spacing $input-h-spacing;
  transition: $transition-base;

  &:hover {
    border-color: var(--fc__default__link--hover);
  }

  &:focus {
    border-color: var(--fc__default__violator);
    outline: 0;
  }


  label + & {
    margin-top: 0.1em;
  }
}

input[type='password'] {
  border-radius: 0.15em;
  //border: solid 1px $color-quahog-tint1;
  font-family: var(--font-sans-fallback);
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5em 0.5em 0.45em;

  label + & {
    margin-top: 0.1em;
  }
}

textarea {
  border-radius: 0.15em;
  //border: solid 1px $color-quahog-tint1;
  font-family: var(--font-sans-vf);
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5em 0.5em 0.45em;
  width: 100%;

  label + & {
    margin-top: 0.1em;
  }
}

select {
  border-radius: 0.15em;
  //border: solid 1px $color-quahog-tint1;
  font-family: var(--font-sans-vf);
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5em 0.5em 0.45em;
  width: 100%;

  label + & {
    margin-top: 0.1em;
  }
}

// Styles are in 00-atoms/06-buttons
//button {}

// Form elements with classes
.qh__form {

  // Sets a button and input next to each other
  &__nowrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    > input {
      // Oddly, a size larger than any button width does not make the input too small
      flex: 1 0 calc(100% - 12rem);
    }
  }
}
