form {
  margin-top: calc(var(--body-text-spacer) * 1);
  margin-bottom: calc(var(--body-text-spacer) * 1);
}

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
  > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    margin-right: 1rem;
    margin-top: 1rem;
    min-width: 18rem;
    @include breakpoint-up($bp__single-col-content) {
      min-width: 21rem;
    }
  }
  > legend {
    min-width: unset;
  }
  > p {
    flex-basis: auto;
    width: 100%;
  }
  h2,
  h3 {
    flex-basis: auto;
    width: 100%;
  }
  .full-width {
    flex-basis: auto;
    width: 100%;
  }
}

fieldset {
  padding: 1rem 0 1rem 1rem;

  > legend {
      display: block;
      font-family: $font-sans-static;
      font-size: 1rem;
      font-weight: 575;
      .wf-inactive & {
        font-family: $font-sans-fallback;
        font-weight: bold;
      }
      @supports (font-variation-settings: normal) {
        html:not(.novf) & {
          font-family: var(--font-sans-vf);
        }
        html:not(.novf).wf-inactive & {
          font-family: $font-sans-fallback;
          font-weight: bold;
        }
      }
      text-transform: uppercase;
  }

  + fieldset {
    margin-top: calc(var(--body-text-spacer) * 1.5);
  }
}

.form__row {
  padding: 1rem;

  * & {
    margin-top: calc(var(--body-text-spacer) * 1.5);
  }
}

.form__actions {
  a {
    @include qh__p;
    --p-font-wght: 400;
  }
}

input[type='text'],
input[type='url'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='tel'],
input[type='week'] {
  font-family: $font-sans-static;
  font-size: 1rem;
  font-weight: 500;
  .wf-inactive & {
    font-family: $font-sans-fallback;
    font-weight: normal;
  }
  @supports (font-variation-settings: normal) {
    html:not(.novf) & {
      font-family: var(--font-sans-vf);
    }
    html:not(.novf).wf-inactive & {
      font-family: $font-sans-fallback;
      font-weight: normal;
    }
  }
  width: 100%;


  // This are new styles… I'm not sure about the rest
  background-color: var(--fc__default__bg);
  border: $border-sm solid var(--fc__default__border);
  border-radius: $input-border-radius;
  color: var(--fc__default__fg);
  display: inline-block;
  line-height: 1.25;
  padding: $input-v-spacing;
  transition: $transition-base;

  &:hover {
    border-color: var(--fc__default__link--hover);
  }

  &:focus {
    border-color: var(--fc__default__violator);
    outline: 0;
  }

  label + & {
    margin-top: 0.1em;
  }
}

input[type='password'] {
  border-radius: 0.15em;
  //border: solid 1px $color-quahog-tint1;
  font-family: $font-sans-fallback;
  font-size: 1rem;
  font-weight: normal;
  padding: 0.5em 0.5em 0.45em;

  label + & {
    margin-top: 0.1em;
  }
}

input[type="range"] {}

textarea {
  border-radius: 0.15em;
  //border: solid 1px $color-quahog-tint1;
  font-family: $font-sans-static;
  font-size: 1rem;
  font-weight: 400;
  .wf-inactive & {
    font-family: $font-sans-fallback;
    font-weight: normal;
  }
  @supports (font-variation-settings: normal) {
    html:not(.novf) & {
      font-family: var(--font-sans-vf);
    }
    html:not(.novf).wf-inactive & {
      font-family: $font-sans-fallback;
      font-weight: normal;
    }
  }

  padding: 0.5em 0.5em 0.45em;
  width: 100%;

  label + & {
    margin-top: 0.1em;
  }
}

select {
  border-radius: 0.15em;
  //border: solid 1px $color-quahog-tint1;
  font-family: $font-sans-static;
  font-size: 1rem;
  font-weight: 400;
  .wf-inactive & {
    font-family: $font-sans-fallback;
    font-weight: normal;
  }
  @supports (font-variation-settings: normal) {
    html:not(.novf) & {
      font-family: var(--font-sans-vf);
    }
    html:not(.novf).wf-inactive & {
      font-family: $font-sans-fallback;
      font-weight: normal;
    }
  }
  padding: 0.5em 0.5em 0.45em;
  width: 100%;

  label + & {
    margin-top: 0.1em;
  }
}

// Styles are in 00-atoms/06-buttons
//button {}

// Form elements with classes
.qh__form {

  // Sets a button and input next to each other
  &__nowrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    > input {
      // Oddly, a size larger than any button width does not make the input too small
      flex: 1 0 calc(100% - 12rem);
      margin-right: 0.5rem;
    }
  }

  &__input__range {
    display: flex;
    align-items: middle;
    height: 2rem;
    margin: 0.25rem 0;

    input[type="range"] {
      -webkit-appearance: none;
      background: transparent;
      width: 100%;

      @mixin range-track {
        -webkit-appearance: none;
        background: linear-gradient(
          to bottom right,
          transparent 50%,
          var(--c__white--trans33) 50%
        );
        cursor: pointer;
        height: 1rem;
      }

      @mixin range-thumb {
        -webkit-appearance: none;
        background: currentColor;
        border-radius: 0.25rem;
        cursor: pointer;
        height: 2rem;
        margin-top: -0.5rem;
        width: 0.5rem;
      }

      &::-webkit-slider-runnable-track {
        @include range-track;
      }
      &::-moz-range-track {
        @include range-track;
      }
      &::-ms-track {
        @include range-track;
      }
      &::-ms-fill-lower {
       background: transparent;
      }

      &::-webkit-slider-thumb {
        @include range-thumb;
      }
      &::-moz-range-thumb {
        @include range-thumb;
      }
      &::-ms-thumb {
        @include range-thumb;
      }

      &:focus,
      &:focus-within {
        outline: $border-sm solid var(--fc__official__link--focus, currentColor);
        outline-offset: ($border-sm * 2);
      }
    }
  }
}
