form {
  margin-top: calc(var(--body-text-spacer) * 1);
  margin-bottom: calc(var(--body-text-spacer) * 1);
}

fieldset {
  background-color: var(--c__quahog--lightest);
  border: $border-xs solid var(--fc__default__border);
  padding: $general-v-spacing 0 $general-v-spacing $general-h-spacing;

  > legend {
    background-color: var(--c__quahog--lightest);
    display: block;
    font-family: $font-sans-static;
    font-size: 1rem;
    font-weight: 575;
    letter-spacing: $kerning-base;
    text-transform: uppercase;

    .wf-inactive & {
      font-family: $font-sans-fallback;
      font-weight: bold;
    }
    @supports (font-variation-settings: normal) {
      html:not(.novf) & {
        font-family: var(--font-sans-vf);
      }
      html:not(.novf).wf-inactive & {
        font-family: $font-sans-fallback;
        font-weight: bold;
      }
    }
  }

  .dark & {
    background-color: var(--c__quahog--dark--trans33);

    > legend {
      background-color: var(--c__quahog--dark--trans33);
    }
  }
  @media (prefers-color-scheme: dark) {
    background-color: var(--c__quahog--dark--trans33);

    > legend {
      background-color: var(--c__quahog--dark--trans33);
    }
  }

  + fieldset {
    margin-top: calc(var(--body-text-spacer) * 1.5);
  }
}

// <label>
// Handled in conjunction with .small-text in 00-atoms/02-text/00-typography

input:not([type="checkbox"]):not([type="radio"]):not([type="range"]),
textarea,
select {
  background-color: var(--fc__default__bg);
  border: $border-sm solid var(--fc__default__border);
  border-radius: $input-border-radius;
  color: var(--fc__default__fg);
  display: inline-block;
  line-height: 1.25;
  padding: $input-v-spacing $input-h-spacing;
  transition: $transition-base;
  width: 100%;

  // Font face settings
  font-family: $font-sans-static;
  font-size: 1rem;
  font-weight: 500;
  .wf-inactive & {
    font-family: $font-sans-fallback;
    font-weight: normal;
  }
  @supports (font-variation-settings: normal) {
    html:not(.novf) & {
      font-family: var(--font-sans-vf);
    }
    html:not(.novf).wf-inactive & {
      font-family: $font-sans-fallback;
      font-weight: normal;
    }
  }

  // Interactive
  &:hover {
    border-color: var(--fc__default__link--hover);
  }

  &:focus {
    border-color: var(--fc__default__violator);
    outline: 0;
  }

  // Spacing from label elements
  label + & {
    margin-top: 0.25em;
  }

}

textarea,
select {
  font-weight: 400;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  // Light mode style
  background-image:
    url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44'%3E%3Cpath fill='%23404040' d='M22 10c-6.6 0-12 5.4-12 12s5.4 12 12 12 12-5.4 12-12-5.4-12-12-12zm0 18.5l-8.8-8.8 2.4-2.4 6.4 6.4 6.4-6.4 2.4 2.4-8.8 8.8z'/%3E%3C/svg%3E"),
    linear-gradient(to bottom, transparent 25%, var(--c__quahog--dark--trans15) 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.75em top 50%, 0 0;
  background-size: 2em auto, 100%;
  box-shadow: 0 em(1) 0 em(2) rgba(#000, 0.15); // need style for light theme
  cursor: pointer;
  display: block;
  max-width: 100%;
  padding-right: 2.25em;

  .dark & {
    background-image:
    url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44'%3E%3Cpath fill='%23d4d4d4' d='M22 10c-6.6 0-12 5.4-12 12s5.4 12 12 12 12-5.4 12-12-5.4-12-12-12zm0 18.5l-8.8-8.8 2.4-2.4 6.4 6.4 6.4-6.4 2.4 2.4-8.8 8.8z'/%3E%3C/svg%3E"),
    linear-gradient(to bottom, transparent 0%, var(--c__quahog--dark--trans33) 95%);
  }
  @media (prefers-color-scheme: dark) {
    background-image:
      url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44'%3E%3Cpath fill='%23d4d4d4' d='M22 10c-6.6 0-12 5.4-12 12s5.4 12 12 12 12-5.4 12-12-5.4-12-12-12zm0 18.5l-8.8-8.8 2.4-2.4 6.4 6.4 6.4-6.4 2.4 2.4-8.8 8.8z'/%3E%3C/svg%3E"),
      linear-gradient(to bottom, transparent 0%, var(--c__quahog--dark--trans33) 95%);
  }

  [dir="rtl"] & {
    background-position: left 0.75em top 50%, 0 0;
  }

  &::-ms-expand {
    display: none;
  }

  option {
    // Only set if the parent select element is bold
    //font-weight: normal;
  }
}

input[type="range"] {}


// Named classes
.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;

  > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    margin-right: 1rem;
    margin-top: 1rem;
    min-width: 18rem;
    @include breakpoint-up($bp__single-col-content) {
      min-width: 21rem;
    }
  }

  > legend {
    min-width: unset;
  }

  > p {
    flex-basis: auto;
    width: 100%;
  }

  h2,
  h3 {
    flex-basis: auto;
    width: 100%;
  }

  .full-width {
    flex-basis: auto;
    width: 100%;
  }
}

.form__row {
  padding: 1rem;

  * & {
    margin-top: calc(var(--body-text-spacer) * 1.5);
  }
}

.form__actions {
  a {
    @include qh__p;
    --p-font-wght: 400;
  }
}

// Styles are in 00-atoms/06-buttons
//button {}

// Form elements with classes
.qh__form {

  // Sets a button and input next to each other
  &__nowrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    > input {
      // Oddly, a size larger than any button width does not make the input too small
      flex: 1 0 calc(100% - 12rem);
      margin-right: 0.5rem;
    }
  }

  &__input__range {
    display: flex;
    align-items: middle;
    height: 2rem;
    margin: 0.25rem 0;

    input[type="range"] {
      -webkit-appearance: none;
      background: transparent;
      width: 100%;

      @mixin range-track {
        -webkit-appearance: none;
        background: linear-gradient(
          to bottom right,
          transparent 50%,
          var(--c__white--trans33) 50%
        );
        cursor: pointer;
        height: 1rem;
      }

      @mixin range-thumb {
        -webkit-appearance: none;
        background: currentColor;
        border-radius: 0.25rem;
        cursor: pointer;
        height: 2rem;
        margin-top: -0.5rem;
        width: 0.5rem;
      }

      &::-webkit-slider-runnable-track {
        @include range-track;
      }
      &::-moz-range-track {
        @include range-track;
      }
      &::-ms-track {
        @include range-track;
      }
      &::-ms-fill-lower {
       background: transparent;
      }

      &::-webkit-slider-thumb {
        @include range-thumb;
      }
      &::-moz-range-thumb {
        @include range-thumb;
      }
      &::-ms-thumb {
        @include range-thumb;
      }

      &:focus,
      &:focus-within {
        outline: $border-sm solid var(--fc__official__link--focus, currentColor);
        outline-offset: ($border-sm * 2);
      }
    }
  }
}
