form {
  margin-top: calc( var(--body-text-spacer) * 1 );
  margin-bottom: calc( var(--body-text-spacer) * 1 );
}

input[type="text"] {
  border-radius: 0.15em;
  border: solid 1px $color-quahog-tint1;
  font-family: var(--font-sans-vf);
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5em 0.5em 0.45em 0.5em;
  label + & {
    margin-top: 0.1em;
  }
}

button {
  --background-top: #{rgba(lighten($color-navy-blue, 10%), 0.5)};
  --background-bottom: #{rgba(darken($color-navy-blue, 15%), 0.5)};
  background-color: $color-navy-blue;
  background-image: linear-gradient(to bottom, var(--background-top), var(--background-bottom));
  border-radius: 0.15em;
  border: solid 1px $color-navy-blue;
  color: $color-ocean-state-tint1;
  font-family: var(--font-serif-vf);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.425em 0.65em;
  transition: background-color 0.15s ease-in, color 0.15s ease-in;
  label + & {
    margin-top: 0.1em;
  }
  &:hover {
    background-color:darken($color-navy-blue, 10%);
    color: #ffffff;
  }
}
