form {
  margin-top: calc(var(--body-text-spacer) * 1);
  margin-bottom: calc(var(--body-text-spacer) * 1);
}

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
  > * {
    flex-grow: 1;
    margin-right: 1rem;
    margin-top: 1rem;
    min-width: 20rem;
  }
  > legend {
    min-width: unset;
  }
  > p {
    width: 100%;
  }
  h2, 
  h3 {
    width: 100%;
  }
  .full-width {
    width: 100%;
  }
}

fieldset {
  padding: 1rem 0 1rem 1rem;
  > legend {
      display: block;
      font-family: var(--font-sans-vf);
      font-size: 1rem;
      font-weight: 525;
      text-transform: uppercase;    
  }
  + fieldset {
    margin-top: calc(var(--body-text-spacer) * 1);
  }
}

.form__row {
  padding: 1rem;
  * & {
    margin-top: calc(var(--body-text-spacer) * 1);
  }
}

.form__actions {
  a {
    font-family: var(--font-sans-vf);
    font-size: 1rem;
    font-weight: 400;
  }
}

input[type='text'],
input[type='url'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='tel'],
input[type='week'] {
  border-radius: 0.15em;
  //border: solid 1px $color-quahog-tint1;
  font-family: var(--font-sans-vf);
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5em 0.5em 0.45em;
  width: 100%;

  label + & {
    margin-top: 0.1em;
  }
}

input[type='password'] {
  border-radius: 0.15em;
  //border: solid 1px $color-quahog-tint1;
  font-family: var(--font-sans-fallback);
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5em 0.5em 0.45em;

  label + & {
    margin-top: 0.1em;
  }
}

textarea {
  border-radius: 0.15em;
  //border: solid 1px $color-quahog-tint1;
  font-family: var(--font-sans-vf);
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5em 0.5em 0.45em;
  width: 100%;

  label + & {
    margin-top: 0.1em;
  }
}

select {
  border-radius: 0.15em;
  //border: solid 1px $color-quahog-tint1;
  font-family: var(--font-sans-vf);
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5em 0.5em 0.45em;
  width: 100%;

  label + & {
    margin-top: 0.1em;
  }
}

button {
  //--background-top: #{rgba(lighten($color-navy-blue, 10%), 0.5)};
  //--background-bottom: #{rgba(darken($color-navy-blue, 15%), 0.5)};
  //background-color: $color-navy-blue;
  background-image: linear-gradient(to bottom, var(--background-top), var(--background-bottom));
  border-radius: 0.15em;
  //border: solid 1px $color-navy-blue;
  //color: $color-ocean-state-tint1;
  font-family: var(--font-serif-vf);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.425em 0.65em;
  transition: background-color 0.15s ease-in, color 0.15s ease-in;

  label + & {
    margin-top: 0.1em;
  }

  &:hover {
    //background-color:darken($color-navy-blue, 10%);
    color: var(--c__white);
  }
}
