<div class="qh-u__page__wrapper qh__t__scarborough">
  <div class="qh-o__official-site">
    <p><b>Default Theme</b>: This is an official RI.gov website. <a href="#">How you can tell</a>.</p>
  </div>
  <header class="qh-o__page-header">
    <h1>Logo: Header Name & such</h1>
    <p>Tagline that has <a href="#">a link</a></p>
  </header>
  <nav class="qh-o__main-nav">
    <ul><li><a href="#">Navigation Link</a></li></ul>
  </nav>
  <main id="content">
    <article class="qh-o__page-content qh-o__flexible-content">
      <header class="qh-c__hero" style="background-image: url('https://assets.simpleviewinc.com/simpleview/image/fetch/c_fill,h_457,q_50,w_810/https://assets.simpleviewinc.com/simpleview/image/upload/crm/rhodeisland/late-summer-first-day-of-school2010-091_26F3659B-CC3D-4A48-858E4B594F333FAE_e1cd1198-2b99-4a73-ac947647ba87d7fd.jpg')">
        <div class="qh-c__hero__inner">
          <h2>Welcome to this site</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <button>Go to a page</button>
        </div>
      </header>
      <section class="qh-g__row qh__ct__primary--light">
        <div class="qh-g__row__inner">
          <div class="qh-g__col">
            <h3>Header 3</h3>
            <p><a href="#">No theme class on this column, present on row</a>. Default theme value applies here for hover — a new hover color is not set on this component theme. </p>
          </div>
          <div class="qh-g__col qh__ct__primary">
            <h3>Header 3</h3>
            <p><a href="#">Theme class on this column</a>. Theme explicitly sets the color of this link hover. </p>
          </div>
          <div class="qh-g__col">
            <h3>Header 3</h3>
            <p><a href="#">No theme class on this column, present on row</a> reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
          </div>
        </div>
      </section>
      <section class="qh-g__row">
        <div class="qh-g__col">
          <h2>Discussion Topics & Classroom Activities</h2>
          <p><a href="#">Excepteur sint occaecat cupidatat</a> non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
            <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</li>
          </ul>
        </div>
      </section>
      <section class="qh-g__row">
        <div class="qh-g__row__inner">
          <div class="qh-g__col qh__ct__primary--light">
            <h3>Header 3</h3>
            <p><a href="#">Theme class on this column</a>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
          <div class="qh-g__col qh__ct__primary">
            <h3>Header 3</h3>
            <p><a href="#">Theme class on this column</a>, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
          <div class="qh-g__col qh__ct__coffee-milk">
            <h3>Header 3</h3>
            <p><a href="#">Theme class on this column</a> reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
          </div>
        </div>
      </section>
    </article>
  </main>
</div>

<div class="qh-u__page__wrapper qh__t__scarborough--dark">
  <div class="qh-o__official-site">
    <p><b>Default Dark Theme</b>: This is an official RI.gov website. <a href="#">How you can tell</a>.</p>
  </div>
  <header class="qh-o__page-header">
    <h1>Logo: Header Name & such</h1>
    <p>Tagline that has <a href="#">a link</a></p>
  </header>
  <nav class="qh-o__main-nav">
    <ul><li><a href="#">Navigation Link</a></li></ul>
  </nav>
  <main id="content">
    <article class="qh-o__page-content qh-o__flexible-content">
      <header class="qh-c__hero" style="background-image: url('https://assets.simpleviewinc.com/simpleview/image/fetch/c_fill,h_457,q_50,w_810/https://assets.simpleviewinc.com/simpleview/image/upload/crm/rhodeisland/late-summer-first-day-of-school2010-091_26F3659B-CC3D-4A48-858E4B594F333FAE_e1cd1198-2b99-4a73-ac947647ba87d7fd.jpg')">
        <div class="qh-c__hero__inner">
          <h2>Welcome to this site</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <button>Go to a page</button>
        </div>
      </header>
      <section class="qh-g__row qh__ct__primary--light">
        <div class="qh-g__row__inner">
          <div class="qh-g__col">
            <h3>Header 3</h3>
            <p><a href="#">No theme class on this column, present on row</a>. Default theme value applies here for hover — a new hover color is not set on this component theme. </p>
          </div>
          <div class="qh-g__col qh__ct__primary">
            <h3>Header 3</h3>
            <p><a href="#">Theme class on this column</a>. Theme explicitly sets the color of this link hover. </p>
          </div>
          <div class="qh-g__col">
            <h3>Header 3</h3>
            <p><a href="#">No theme class on this column, present on row</a> reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
          </div>
        </div>
      </section>
      <section class="qh-g__row">
        <div class="qh-g__col">
          <h2>Discussion Topics & Classroom Activities</h2>
          <p><a href="#">Excepteur sint occaecat cupidatat</a> non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
            <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</li>
          </ul>
        </div>
      </section>
      <section class="qh-g__row">
        <div class="qh-g__row__inner">
          <div class="qh-g__col qh__ct__primary--light">
            <h3>Header 3</h3>
            <p><a href="#">Theme class on this column</a>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
          <div class="qh-g__col qh__ct__primary">
            <h3>Header 3</h3>
            <p><a href="#">Theme class on this column</a>, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
          <div class="qh-g__col qh__ct__coffee-milk">
            <h3>Header 3</h3>
            <p><a href="#">Theme class on this column</a> reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
          </div>
        </div>
      </section>
    </article>
  </main>
</div>

<div class="qh-u__page__wrapper qh__t__wickforest">
  <div class="qh-o__official-site">
    <p><b>Wickaboxet Forest Theme</b>: This is an official RI.gov website. <a href="#">How you can tell</a>.</p>
  </div>
  <header class="qh-o__page-header">
    <h1>Logo: Header Name & such</h1>
    <p>Tagline that has <a href="#">a link</a></p>
  </header>
  <nav class="qh-o__main-nav">
    <ul><li><a href="#">Navigation Link</a></li></ul>
  </nav>
  <main id="content">
    <article class="qh-o__page-content qh-o__flexible-content">
      <header class="qh-c__hero" style="background-image: url('https://assets.simpleviewinc.com/simpleview/image/fetch/c_fill,h_457,q_50,w_810/https://assets.simpleviewinc.com/simpleview/image/upload/crm/rhodeisland/late-summer-first-day-of-school2010-091_26F3659B-CC3D-4A48-858E4B594F333FAE_e1cd1198-2b99-4a73-ac947647ba87d7fd.jpg')">
        <div class="qh-c__hero__inner">
          <h2>Welcome to this site</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <button>Go to a page</button>
        </div>
      </header>
      <section class="qh-g__row qh__ct__primary--light">
        <div class="qh-g__row__inner">
          <div class="qh-g__col">
            <h3>Header 3</h3>
            <p><a href="#">No theme class on this column, present on row</a>. Default theme value applies here for hover — a new hover color is not set on this component theme. </p>
          </div>
          <div class="qh-g__col qh__ct__primary">
            <h3>Header 3</h3>
            <p><a href="#">Theme class on this column</a>. Theme explicitly sets the color of this link hover. </p>
          </div>
          <div class="qh-g__col">
            <h3>Header 3</h3>
            <p><a href="#">No theme class on this column, present on row</a> reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
          </div>
        </div>
      </section>
      <section class="qh-g__row">
        <div class="qh-g__col">
          <h2>Discussion Topics & Classroom Activities</h2>
          <p><a href="#">Excepteur sint occaecat cupidatat</a> non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
            <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</li>
          </ul>
        </div>
      </section>
      <section class="qh-g__row">
        <div class="qh-g__row__inner">
          <div class="qh-g__col qh__ct__primary--light">
            <h3>Header 3</h3>
            <p><a href="#">Theme class on this column</a>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
          <div class="qh-g__col qh__ct__primary">
            <h3>Header 3</h3>
            <p><a href="#">Theme class on this column</a>, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
          <div class="qh-g__col qh__ct__coffee-milk">
            <h3>Header 3</h3>
            <p><a href="#">Theme class on this column</a> reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
          </div>
        </div>
      </section>
    </article>
  </main>
</div>
