body {
  // Themeing naming convention for functional theme color names

  // Defaults: Scarborough Beach theme
  --t__default__bg: #fff;
  --t__default__bg--contrast: #{$color-quahog-80};
  --t__default__fg: #{$color-text};
  --t__default__header: #{$color-quahog-60};
  --t__default__link--static: #{$color-text-link};
  --t__default__link--hover: #{$color-text-link-hover};
  --t__default__link--visited: #{$color-text-link-visited}; // My problem with this is now we will have to reset this everywhere
  --t__default__link--active: #{$color-text-link-active};

  // Official RI.gov site bar
  --t__official-header__bg: #{$color-navy-blue-dark};
  --t__official-header__fg: #e6e6e6;
  --t__official-header__link--static: #{$color-coffee-milk};
  --t__official-header__link--hover: #fff;

  // Page Header
  --t__page-header__bg: #{$color-navy-blue};
  --t__page-header__fg: #fff;
  --t__page-header__link--static: #fff;
  --t__page-header__link--hover: #{$color-hope-gold};
  --t__page-header__header: #{$color-ocean-state};

  // Page Navigation
  --t__page-nav__bg: #{$color-ocean-state};
  --t__page-nav__link--static: #{$color-navy-blue};
  --t__page-nav__link--hover: #{$color-rhody-red};

  // Component: Hero
  --t__c__hero__bg: #{$color-navy-blue};
  --t__c__hero__fg: #fff;
  --t__c__hero__header: #{$color-hope-gold};


  // Component-level themes
  .qh-ct__primary {
    --t__default__bg: #{$color-navy-blue};
    --t__default__fg: #fff;
    --t__default__header: #{$color-ocean-state};
    --t__default__link--static: #fff;
    --t__default__link--hover: #{$color-hope-gold};
  }

  .qh-ct__primary--light {
    --t__default__bg: #{$color-ocean-state};
    --t__default__fg: #{$color-navy-blue};
    --t__default__header: #fff;
    --t__default__link--static: #{$color-navy-blue-dark};
    //--t__default__link--hover: ;
  }


  // Default dark mode
  .qh-t__default--dark {

    // Defaults: Scarborough Beach theme
    --t__default__bg: #{$color-quahog-80};
    --t__default__bg--contrast: #{$color-quahog-90};
    --t__default__fg: #{$color-coffee-milk-33};
    --t__default__header: #{$color-coffee-milk};
    --t__default__link--static: #88b8dd;
    --t__default__link--hover: #fff;
    --t__default__link--visited: #bea5e9;
    --t__default__link--active: #{$color-hope-gold};

    // Official RI.gov site bar
    --t__official-header__bg: #1c191f;
    //--t__official-header__fg: ;
    //--t__official-header__link--static: ;
    //--t__official-header__link--hover: ;

    // Page Header
    --t__page-header__bg: #252228;
    --t__page-header__fg: #{$color-coffee-milk};
    //--t__page-header__link--static: ;
    //--t__page-header__link--hover: ;
    --t__page-header__header: #fff;

    //// Page Navigation
    //--t__page-nav__bg: ;
    //--t__page-nav__link--static: ;
    //--t__page-nav__link--hover: ;

    //// Component: Hero
    //--t__c__hero__bg: ;
    //--t__c__hero__fg: ;
    //--t__c__hero__header: ;

    .qh-ct__primary {
      --t__default__bg: #{$color-navy-blue-dark};
      --t__default__fg: #fff;
      --t__default__header: #{$color-ocean-state};
      --t__default__link--static: #fff;
      //--t__default__link--hover: ;
    }

    .qh-ct__primary--light {
      --t__default__bg: #{$color-navy-blue};
      --t__default__fg: #fff;
      --t__default__header: #fff;
      --t__default__link--static: #fff;
      //--t__default__link--hover: ;
    }
  }
}

body {
  // THEME
  // Page-level Theme
  .qh-t--wickaboxet-forest {

    // Theme: Wickaboxet Forest Green
    //--t__default__bg: ;
    //--t__default__fg: ;
    --t__default__header: #{$color-forest-dark};
    //--t__default__link--static: ;
    //--t__default__link--hover: ;
    //--t__default__link--visited: ;
    //--t__default__link--active: ;

    // Official RI.gov site bar
    --t__official-header__bg: #{$color-quahog-90};
    //--t__official-header__fg: ;
    //--t__official-header__link--static: ;
    //--t__official-header__link--hover: ;

    // Page Header
    --t__page-header__bg: #{$color-forest-dark};
    --t__page-header__fg: #{$color-quahog-80};
    --t__page-header__link--static: #{$color-quahog-90};
    --t__page-header__link--hover: #{$color-hope-gold};
    --t__page-header__header: #fff;

    // Page Navigation
    --t__page-nav__bg: #{$color-forest};
    //--t__page-nav__link--static: ;
    //--t__page-nav__link--hover: ;

    // Component: Hero
    --t__c__hero__bg: #{$color-forest-darkest};
    //--t__c__hero__fg: ;
    //--t__c__hero__header: ;

    .qh-ct__primary {
      --t__default__bg: #{$color-forest-dark};
      --t__default__fg: #{$color-quahog-90};
      --t__default__header: #fff;
      --t__default__link--static: #{$color-quahog-90};
      --t__default__link--hover: #{$color-hope-gold};
    }

    .qh-ct__primary--light {
      --t__default__bg: #{$color-forest-light};
      --t__default__fg: #{$color-quahog};
      --t__default__header: #{$color-forest};
      --t__default__link--static: #{$color-forest-dark};
      //--t__default__link--hover: ;
    }
  }
}
