<article class="qh__icon-card">
  <div class="qh__icon-card__icon">
    <span class="qh__icon" aria-hidden="true">
      {% include ('@icons/maple-leaf.svg') %}
    </span>
  </div>
  <div class="qh__icon-card__content">
    <div class="qh__icon-card__title">
      {# Can we be sure that a H3 here will always be appropriate? #}
      <h3>For Visitors Traveling to/from RI{# card-title #}</h3>
    </div>
    <p><a href="#">Everything you need to know</a> when coming to Rhode Island, plus travel planning tips and current travel restrictions within the US and abroad</p>{# card-text #}
  </div>
</article>
