.media-item {
  border-left: solid 1rem var(--fc__default__accent);

  // align 
  &.left {
    border-left: none;
    border-right: solid 1rem var(--fc__default__accent);
    clear: left;
    float: left;
    margin-right: 2rem;
  }
  &.right {
    clear: right;
    float: right;
    margin-left: 2rem;
  }
  // size 
  &.small {
    width: 32%;
    width: calc( (100% / 3) - 1rem );
  }
  &.medium {
    width: 49%;
    width: calc( (100% / 2) - 1rem );
  }
  &.large {
    float: none;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  &__video {
    padding-top: 56.2061%;
    position: relative;
    > iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  figcaption {
    background-color: var(--fc__primary--light__bg--dark);
    padding: 0.5rem 0.75rem;
  }
}