.qh__single-speech {

  &__header {
    margin-bottom: ($text-spacer-fallback-value * 1.5);

    @supports (margin-top: clamp(1rem, 2vw, 1.25rem)) {
      margin-bottom: calc(var(--body-text-spacer) * 1.5);
    }
  }

  &__title {
    margin-bottom: ($text-spacer-fallback-value * 0.5);

    @supports (margin-top: clamp(1rem, 2vw, 1.25rem)) {
      margin-bottom: calc(var(--body-text-spacer) * 0.5);
    }
  }

  &__date {

    &::after {
      margin-top: ($text-spacer-fallback-value * 1.25);

      @supports (margin-top: clamp(1rem, 2vw, 1.25rem)) {
        margin-top: calc(var(--body-text-spacer) * 1.25);
      }
      width: 1.5em;
    }

    time {
      font-style: italic;
      font-variant-numeric: oldstyle-nums;
    }
  }

  &__content {
    p:last-child::after {
      background-color: var(--fc__default__text-accent);
      content: '';
      display: inline-block;
      height: 1em;
      margin: 0 0 -0.125em 0.25em;
      mask: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44' style='enable-background:new 0 0 44 44'%3E%3Cpath d='M43.7 26.9l-5.1-5.1c-.4-.4-.9-.4-1.3 0l-5.1 5.1c-.6.6-.2 1.6.7 1.6h3.4c-1.5 5-7.1 8-12.4 8.5V18h4.6c.5 0 .9-.4.9-.9v-1.8c0-.5-.4-.9-.9-.9h-4.6v-.9c2.5-.8 4.3-3.1 4.3-5.9 0-3.4-2.7-6.1-6.1-6.1S16 4.2 16 7.6c0 2.7 1.8 5.1 4.3 5.9v.9h-4.6c-.5 0-.9.4-.9.9v1.8c0 .5.4.9.9.9h4.6v18.9c-5.3-.5-10.9-3.5-12.4-8.5h3.4c.8 0 1.2-1 .7-1.6l-5.1-5.1c-.4-.4-.9-.4-1.3 0L.5 26.8c-.6.6-.2 1.6.7 1.6H4C5.6 36 19.5 42.5 22 42.5s16.5-6.8 18-14.1h3.1c.8 0 1.2-1 .6-1.5zM22 5.1c1.4 0 2.5 1.1 2.5 2.5S23.4 10 22 10s-2.5-1.1-2.5-2.5 1.1-2.4 2.5-2.4z'/%3E%3C/svg%3E");
      width: 1em;
    }
  }

  &__footer {}
}
