/*
 * Styling and functional best practices from:
 * https://www.w3.org/TR/wai-aria-practices-1.1/examples/accordion/accordion.html
 *
 * Not all functional requirements can be met, as in arrow up/down, home, or end
 * keys navigating from one accordion header to another because we are not able
 * to put a single wrapper around all accordion elements on a page
 */

.qh__accordion {
  border: $border-xs solid var(--transparent);
  margin-bottom: $nav-a-v-spacing;

  &:hover,
  &:focus,
  &:focus-within {
    border-color: var(--fc__default__link--hover);
    transition: $transition-base;
  }

  &__title {}

  &__button {
    background-color: var(--c__coffee-milk--trans25);
    background-image: none; // Reset from .qh__btn
    border-radius: 0; // Reset from .qh__btn
    box-shadow: none; // Reset from .qh__btn
    color: var(--fc__default__fg);
    display: block;
    font-family: $font-sans-vf;
    font-size: 1.25rem; // TODO: Reset with the proper
    outline: none;
    padding: $nav-a-v-spacing $nav-a-h-spacing;
    text-align: left;
    transition: $transition-base;
    white-space: normal; // Reset from .qh__btn
    width: 100%;

    &:hover,
    &:focus {
      background-color: var(--fc__default__bg);
      color: var(--fc__default__fg);
    }

    // Accordion titles are required to look focused
    &:focus {
      .qh__accordion__button__summary {
        outline: 2px solid var(--fc__default__link--hover);
        outline-offset: 2px;
      }
    }

    &__summary {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      pointer-events: none;
    }

    .qh__icon {
      margin: -0.5em -0.5em -0.5em $nav-a-h-spacing;
      min-width: $icon-dimension;

      &__plusminus {
        &__circle {
          fill: var(--fc__accordion__icon__bg);
        }
        &__vert,
        &__horiz {
          fill: var(--fc__accordion__icon__fg);
        }
        &__vert {
          transition: $transition-medium;
          transform: rotate(90deg); // in the SVG this shape is already transformed
          transform-origin: center;
        }
      }
    }

    &[aria-expanded="true"] {
      background-color: var(--fc__default__bg);

      .qh__icon__plusminus__vert {
        transform: rotate(-360deg);
      }
    }
  }

  &__content {
    // In case any content inside is floated, which might be possible
    @include clearfix();
    background-color: var(--c__coffee-milk--trans10);

    // TODO: Transitions not firing as we want them to
    .js & {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0s linear 1s, visibility 0s linear 0s;
      visibility: hidden;

      > div {
        opacity: 0;
        transition: $transition-base 0ms;
      }
    }

    .js [aria-expanded="true"] + & {
      max-height: unset;
      padding: $nav-a-v-spacing $nav-a-h-spacing;
      transition: max-height 0s linear 500s, visibility 0s linear 0ms;
      visibility: visible;

      > div {
        opacity: 1;
        transition: $transition-base 125ms;
      }
    }
  }
}
