/* Settings */

.settings-menu {
  @include qh__p;
  --text-opsz: 10;
  display: inline-block;
  position: relative;

  &__icon {
    display: inline-block;
    height: em(20);
    margin: -0.125em 0.25em 0 0;
    vertical-align: middle;
    width: em(20);
  }

  .settings__menu {
    background-color: var(--fc__official__bg);
    color: var(--fc__official__fg);
    height: 1px;
    list-style: none;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0.25rem;
    position: absolute;
    text-align: left;
    top: 1.4rem;
    transition: opacity 0.2s ease-in, height 0.1s ease-in;
    left: 0;
    width: 100%;
    z-index: z(drop-down-menu);
  }

  &-trigger {
    background-color: var(--fc__official__bg);
    display: block;
    padding: 0.15rem 0.25rem;
    position: relative;
    text-align: right;
    z-index: z(mobile-nav-bar);

    &,
    &:visited {
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }

    &:focus,
    .qh__page-header &:focus {
      outline-color: transparent;
      text-decoration: underline;
    }

    &:active {
      text-decoration: underline;
    }

    @media (pointer: coarse) {
      &:hover {
        text-decoration: unset;
      }
    }
  }

  html:not(.touch-nav) &:focus-within,
  html:not(.touch-nav) &:hover,
  &.open {
    .settings__menu {
      height: auto;
      left: auto;
      max-height: 80vh;
      min-height: 50vh;
      min-width: 22rem;
      opacity: 1;
      overflow-y: scroll;
      position: absolute;
      right: 0;
      z-index: z(drop-down-menu);
    }

    &.toc .menu {
      right: -5rem;
    }

    &.settings .menu {
      right: -2vw;
    }
  }
}

.settings__menu {
  line-height: 1.3;
  list-style: none;
  word-spacing: 0;

  li {
    border-bottom: solid 1px rgba(0,0,0,.25);
    &:last-child {
      border-bottom: none;
    }
    &.active {
      padding: 0.5em 0.15em;
    }
  }

  a {
    display: block;
    font-size: 0.875rem;
    padding: 0.5em 0.15em;

    .wf-inactive & {
      font-size: 0.9rem;
      padding: 0.475em 0.15em;
    }

    &,
    &:visited {
      text-decoration: underline;
    }

    html:not(.touch-nav) &:hover {
      background-color: rgba(0,0,0,.05);
      text-decoration: underline;
    }

    &:focus {
      background-color: rgba(0,0,0,.05);
      text-decoration: underline;
    }

    &:active {
      background-color: rgba(0,0,0,.05);
      text-decoration: underline;
    }
  }

  li {
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .label {
    display: inline-block;
    font-weight: 500;
    line-height: 1.3;
    padding-bottom: 0.25rem;
    word-spacing: 0;
  }

  a.toggle-lightmode {
    .dark & {
      &.switch:after {
        content: ' to light';
      }
    }
    html:not(.dark) & {
      &.switch:after {
        content: ' to dark';
      }
    }
    @media (prefers-color-scheme:dark) {
      html:not(.light) & {
        &.switch:after {
          content: ' to light';
        }
      }

    }
    .light & {
      &.switch:after {
        content: ' to dark';
      }
    }
  }

  .settings-toggle {
    display: grid;
    grid-template-columns: 4fr 5fr;
    padding: 0 1.5vw;
  }

  .settings-slider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 1.5vw;
    input {
      grid-column: 1 / 3;
    }
    div {
      font-size: 0.875rem;
    }
  }
}
