/* Settings & Language */

.qh__settings-menu {
  --text-opsz: 10;
  display: inline-flex;
  position: relative;
  margin-left: $general-h-spacing;
  justify-content: space-between;
  gap: 0.5em;

  &__label {
    display: inline-block;
    font-weight: 500;
    line-height: 1.3;
    padding-bottom: 0.25rem;
    word-spacing: 0;
  }

  &__boolean {
    display: grid;
    grid-template-columns: 4fr 5fr;
    padding: 0.5rem 1.5vw;

    @include onlyIE() {
      button:first-child {
        grid-column: 1;
      }
      button:last-child {
        grid-column: 2;
      }
    }
  }

  button.toggle-lightmode {
    line-height: 1.2;

    .dark & {
      &.switch:after {
        content: ' to light';
      }
    }
    html:not(.dark) & {
      &.switch:after {
        content: ' to dark';
      }
    }
    @media (prefers-color-scheme:dark) {
      html:not(.light) & {
        &.switch:after {
          content: ' to light';
        }
      }
    }
    .light & {
      &.switch:after {
        content: ' to dark';
      }
    }
  }

  &__slider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 1.5vw;

    .qh__form__input__range {
      grid-column: 1 / 3;
    }

    .low {}

    .high {
      text-align: right;
    }
  }
}

.qh__settings-menu,
.qh__language-menu {
  .no-js & {
    display: none;
  }

  &__icon {
    display: inline-block;
    height: 1.25em;
    margin: -0.125em .5em 0 0;
    vertical-align: middle;
    width: 1.25em;

    svg {
      width: 2rem;
      height: 2rem;
      position: relative;
      top: -40%;
      left: -50%;
    }
  }

  &__text {
    @include breakpoint-down($bp__show__desktop-nav) {
      position: absolute;
      clip: rect(1px, 1px, 1px, 1px);
      overflow: hidden;
      height: 1px;
      width: 1px;
      word-wrap: normal;
    }
  }

  // <button>
  &__toggle {
    display: inline-block;
    padding: 0.15rem 0.25rem;
    position: relative;
    text-align: right;
    z-index: z(mobile-nav-bar);

    // Link & hover colors in global-header.scss
    &,
    &:visited {
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:active {
      text-decoration: underline;
    }

    @media (pointer: coarse) {
      &:hover {
        text-decoration: unset;
      }
    }
  } // end &__toggle

  &__list {
    background-color: var(--fc__official__bg);
    color: var(--fc__official__fg);
    line-height: 1.3;
    opacity: 0;
    max-height: 80vh;
    min-height: 50vh;
    max-width: rem(480);
    min-width: rem(288); // 320 phone minus 32px
    width: 50vw;
    overflow-y: scroll;
    padding: 0.5rem 0;
    position: absolute;
      top: 100%; right: - ($general-v-spacing/2);
    text-align: left;
    transition:
      opacity $transition-duration-base $transition-timing-base 0ms,
      visibility 0ms linear 0ms;
    visibility: hidden;
    word-spacing: 0;
    z-index: z(drop-down-menu);

    &::before {
      background-color: var(--fc__official__bg);
      content: '';
      position: absolute;
      @include qh-inset-supports(0);
      z-index: -1;
    }

    [aria-expanded="true"] + & {
       opacity: 1;
       transition:
         opacity $transition-duration-base $transition-timing-base 0ms,
         visibility 0ms linear $transition-duration-base;
       visibility: visible;
    }

    li {
      border-bottom: $border-sm solid rgba(0,0,0,0.25);
      margin-bottom: 1rem;
      padding: 0.5rem 1rem;

      &:last-child {
        border-bottom: none;
      }

      &.active {
        padding: 0.5em 0.15em;
      }
    }

    .qh__u__btn-as-text {

      &,
      &:visited {
        color: var(--fc__official__link);
      }

      &:hover,
      &:focus {
        color: var(--fc__official__link--hover);
      }

      &:focus {
        outline-color: var(--fc__official__link);
      }
    }

    // specifically the langauge menu <ul>
    .qh__language-menu__wrapper & {
      padding: 0.5rem 1rem;
    }
  } // end &___list
}
