.qh__articles-latest {
  padding: $general-v-spacing $general-h-spacing;

  &__title {
    margin: 0;
    padding-bottom: $general-v-spacing;
  }

  &__list {
    margin: 0 #{- $general-h-spacing};

    @media (min-width: $bp--medium) {
      display: flex;
      flex-flow: row nowrap;
      align-items: stretch;
      justify-content: center;
    }
  }

  &__list > * {
    padding: 0 $general-h-spacing;

    @media (max-width: ($bp--medium - em(1))) {
      & + & {
        padding-top: $general-v-spacing;
      }
    }

    @media (min-width: $bp--medium) {
      flex: 1 0 33.33%;

        display: flex;
        flex-flow: column;
        height: 100%; // fill parent item

        .qh__teaser-article__content {
          display: flex;
          flex-flow: column;
          height: 100%;
        }

        .qh__teaser-article__cta {
          margin-top: auto;
        }
    }
  }
}
