ul,
ol,
dl {
  font-family: var(--font-sans-vf);
  font-size: clamp(1rem, 2vw, 1.25rem);
	font-weight: 350;
  font-style: normal;
  hyphens: auto;
  line-height: clamp(1.25em, 2vw, 1.4em);
  margin: 0;
  max-width: var(--content-width);
  padding: 0;
  @media screen and (min-width: $bp--medium) {
    hyphens: none;
  }
  p + &,
  + ul {
    margin-top: var(--body-text-spacer);
  }
  ul,
  ol,
  dl {
    margin: 0;
  }
}

li,
dd {
  margin-left: 1em;
  &::marker {
    //color: $color-rhody-red;
    font-size: 0.875em;
  }
  + li {
    margin-top: calc( var(--body-text-spacer) * 0.5 );
  }
}
