ul,
ol,
dl {
  @extend p;
  padding: 0;

  li,
  dd {
    margin-top: 0;
    margin-left: 1em;

    &::marker {
      color: var(--fc__default__text__accent);
      font-size: 0.875em;
    }

    + li {
      margin-top: calc(var(--body-text-spacer) * 0.5);
    }
  }

  ul,
  ol,
  dl {
    margin: 0;
  }
}


// Utilities
.qh-u__list-reset {
  @include qh-list-reset;
}
