.qh__cta {
  position: relative;
  z-index: 1;

  // <p>
  &__content {
    display: inline-block;
    padding-top: ($general-v-spacing/2);

    &::after {
      color: var(--fc__default__link);
      content: ' >';
      display: inline-block;
      transition: $transition-base;
      transform: translateX(0);
    }
  }

  p {
    transition: $transition-base;
  }

  // Expand the size of the link with a pseudo element
  // The entire parent is clickable now BUT the text is no longer selectable
  &__content &__link {

    &::before {
      content: '';
      display: block;
      position: absolute;
      @include qh-inset-supports(0);
      overflow: visible;
    }
  }

  // Because we are using the above method, a:hover will not affect children
  // Therefore, we can not color the Headline when the Read More link is hovered
  // Therefore therefore, we use a hover on the parent element
  // Hover ONLY because keyboard focus still works as expected
  &:hover h2 a,
  &:hover h3 a {
    color: var(--fc__default__link--hover);
  }

  &:hover p:not(&__content) {
    opacity: 0.8;
  }

  &:hover &__content::after {
    color: var(--fc__default__link--hover);
    transform: translateX(4px);
  }
}
