.qh__teaser-emergency-notification {
  padding: $general-h-spacing 0;

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: ($general-h-spacing / 4);
    max-width: var(--content-max-width);
    margin: 0 auto;
  }

  &__icon {
    display: flex;

    svg {
      width: 100%;
      height: 50%;
      align-self: center;
    }
  }

  &__text {
    p {
      max-width: unset;
    }
  }
}

.rhody-red--bright {
  background-color: var(--c__rhody-red--bright);
  color: var(--c__white);
  
  #{$all-headers} {
    color: currentColor;
  }

  a:not(.qh__btn),
  a:not(.qh__btn):visited,
  a:not(.qh__btn):hover,
  a:not(.qh__btn):focus,
  a:not(.qh__btn):active {
    color: currentColor;
    font-weight: bold;
  }
  
  a:not(.qh__btn):hover,
  a:not(.qh__btn):focus,
  a:not(.qh__btn):active {
    text-underline-offset: 0.2em;
  }

  // dark mode class
  .dark & {
    background-color: var(--c__rhody-red--bright);
    color: var(--c__white);
  }

  // dark mode with prefers-color-scheme 
  @media (prefers-color-scheme: dark) {
    html:not(.light) & {
      background-color: var(--c__rhody-red--bright);
      color: var(--c__white);
    }
  }
}

.hope-gold--bright {
  background-color: var(--c__hope-gold--bright);
  color: var(--c__quahog--dark);

  #{$all-headers} {
    color: currentColor;
  }
  
  a:not(.qh__btn),
  a:not(.qh__btn):visited,
  a:not(.qh__btn):hover,
  a:not(.qh__btn):focus,
  a:not(.qh__btn):active {
    color: currentColor;
    font-weight: bold;
  }
  
  a:not(.qh__btn):hover,
  a:not(.qh__btn):focus,
  a:not(.qh__btn):active {
    text-underline-offset: 0.2em;
  }

  // dark mode class
  .dark & {
    background-color: var(--c__hope-gold--bright);
    color: var(--c__quahog--dark);
  }

  // dark mode with prefers-color-scheme 
  @media (prefers-color-scheme: dark) {
    html:not(.light) & {
      background-color: var(--c__hope-gold--bright);
      color: var(--c__quahog--dark);
    }
  }
}
