.qh__teaser-emergency-notification {
  padding: $general-h-spacing 0;

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: ($general-h-spacing / 4);
    max-width: var(--content-max-width);
    margin: 0 auto;
  }

  &__icon {
    display: flex;

    svg {
      width: 100%;
      height: 50%;
      align-self: center;
    }
  }

  &__text {
    p {
      max-width: unset;
    }
  }
}

.rhody-red--bright {
  background-color: var(--c__rhody-red--bright);
}

.hope-gold--bright {
  background-color: var(--c__hope-gold--bright);
}