<article class="qh__teaser-emergency-notification {{ emergency_bg_color }}">
  <div class="qh__teaser-emergency-notification__content">
    <div class="qh__teaser-emergency-notification__header">
      <div class="qh__icon qh__teaser-emergency-notification__icon">
        {% include ('@icons/information.svg') %} 
      </div>
      <div class="qh__text qh__teaser-emergency-notification__label">
        <p><strong>{{ emergency_label }}</strong></p>
      </div>
    </div>
    <div class="qh__teaser-emergency-notification__message">
      <div class="qh__text qh__teaser-emergency-notification__text">
        <p>{{ emergency_message }}</p>
      </div>
    </div>
  </div>
</article>
