.qh-site-footer {
  background-color: var(--c__quahog);
  color: var(--c__white);
  font-size: 1rem;

  a {
    color: var(--c__white);
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
    margin-top: 0;
  }

}
