<footer class="qh-site-footer" role="contentinfo">
  <div class="col">
    {{ column_left|raw }}
  </div>

  <div class="col">
    {{ column_center|raw }}
  </div>

  <div class="col">
     {{ column_right|raw }}
  </div>
</footer>
