.qh__site-search {

  // <from>
  form {
    margin: 0;
  }

  &__container {}

  // <input>
  &__query {
    max-width: 12rem;
  }

  // <button>
  &__submit {
    background-color: var(--fc__default__accent);
    color: var(--fc__default__accent__fg);
    padding: 0.125rem;

    .qh__icon {}
  }
}
