.qh__site-search {

  // <from>
  form {
    margin: 0;
    @include breakpoint-up($bp__show__desktop-nav) {
      display: grid;
      grid-template-columns: auto 3rem;
    }
}

  &__container {}

  // <input>
  &__query {
    max-width: 12rem;
    min-width: 10rem;
  }
  // needed a bit more specificity for the site search form in the header
  label + input[type="text"].qh__site-search__query {
    margin-top: 0;
    @include breakpoint-up($bp__show__desktop-nav) {
      grid-column: 1/2;
    }
  }
  // <button>
  &__submit {
    background-color: var(--fc__default__accent);
    color: var(--fc__default__accent__fg);
    padding: 0.125rem;
    min-width: rem(48);
    @include breakpoint-up($bp__show__desktop-nav) {
      grid-column: 2/3;
    }

    .qh__icon {}
  }
}
