<p>
  <a href="#">A normal link</a><br>
  <a href="mailto:sample@site.com">An email link</a><br>
  <a href="tel:401-555-1212">A phone link</a><br>
  <a href="//google.com" target="_blank">An external link</a>
</p>
