.qh__articles-list {
  padding: $general-v-spacing 0;

  &__title {
    margin: 0;
    padding-bottom: $general-v-spacing;
  }

  &__list {
    margin: 0 #{- $general-h-spacing};

  }

  &__list > * {
    padding: 0 $general-h-spacing;

    + * {
      margin-top: $general-v-spacing;
    }

    @media (min-width: $bp--medium) {
      flex: 1 1 0;
      display: flex;
      flex-flow: column;

      .qh__teaser-article__content {
        display: flex;
        flex-flow: column;
        height: 100%;
      }

      .qh__teaser-article__cta {
        margin-top: auto;
      }

      @include onlyIE() {
        display: block;
      }
    }
  }
}
