<article class="qh__single-execorder">
  <header class="qh__single-execorder__header">
    <p class="small-text qh__single-execorder__sequence">Executive Order 21-12</p>
    <h1 class="qh__h2 qh__single-execorder__title">One Hundred-and-Eighteenth Supplemental Emergency Declaration — Extension of Executive Orders 20-37, 20-107 and 21-04</h1>
    <p class="qh__emphasis qh__single-execorder__date"><time datetime="W3C date format">February 10, 2021</time></p>
  </header>

  <div class="qh__single-execorder__content node">

<p>WHEREAS, on March 9, 2020, I issued Executive Order 20-02 declaring a state of emergency due to the dangers to health and life posed by COVID-19 and that Order is in effect until at least February 17, 2021;</p>
<p>WHEREAS, on May 21, 2020, I issued Executive Order 20-37 increasing state COVID19 response capacity and that Order has also been extended until February 11, 2021;</p>
<p>WHEREAS, on December 16, 2020, I issued Executive Order 20-107 suspending qualified jobs incentive tax credit certification period and that Order has also been extended until February 11, 2021; and</p>
<p>WHEREAS, on January 14, 2021, I issued Executive Order 21-04 on in-person learning at institutes of higher education.</p>
<p>NOW, THEREFORE, I, GINA M. RAIMONDO, by virtue of the authority vested in me as Governor of the State of Rhode Island, pursuant to Article IX of the Rhode Island Constitution and the Rhode Island General Laws, including, but not limited to, Title 30, Chapter 15, and Title 23, Chapter 8, do hereby extend the following Executive Orders:</p>
<ol>
  <li>Executive Order 20-37 (Thirty-Fourth Supplemental Emergency Declaration — Increasing State COVID-19 Response Capacity).</li>
  <li>Executive Order 20-107 (Hundred-and-Second Supplemental Emergency Declaration — Suspending Qualified Jobs Incentive Tax Credit Certification Period).</li>
  <li>Executive Order 21-04 (One Hundred and Tenth Supplemental Emergency Declaration — In-Person Learning at Institutes of Higher Education).</li>
</ol>
<p>This Executive Order shall take effect immediately and remain in full force and effect until March 11, 2021 unless renewed, modified or terminated by subsequent Executive Order.</p>
<p>So Ordered,<br>
  Gina M. Raimondo<br>
  Governor</p>

  </div>
  <footer class="qh__single-execorder__footer">

    {% include "@molecules/pagination-prev-next/prev-next.twig" with {
        "next_url": "#",
        "next_title": "One Hundred-and-Seventeenth Supplemental Emergency Declaration — Extension of Executive Orders 20-44, 20-46, 20-62, and 21-02"
      }
    %}

  </footer>
</article>
