 <button
    class="qh__site-search__submit form-submit js-form-submit"
    type="submit"
    data-drupal-selector="{{ data_drupal_selector }}"
    id="{{ id }}"
    >
  <span class="qh__icon">
    {% include ('@icons/search-glass.svg') %}
  </span>
  <span class="visually-hidden">{{ "Submit"|t }}</span>
</button>
