.qh-site-footer {
  background-color: var(--fc__footer__bg);
  color: var(--fc__footer_fg);
  font-size: 1rem;

  a {
    color: var(--fc__footer__fg);
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
    margin-top: 0;
  }
}
