.qh__site-footer {
  background-color: var(--fc__footer__bg);
  color: var(--fc__footer__fg);
  font-size: 1rem;
  border-top: $border-xl solid var(--fc__footer__border-top);

  .content-wrapper {
    @include qh-content-maxwidth();
    display: flex;
  }

  a {
    color: var(--fc__footer__fg);
    font-size: 1rem;

    &:hover,
    &:focus {
      text-decoration: none;
      color: var(--fc__footer__fg);
    }

    &:visited {
      color: var(--fc__footer__fg);
    }
  }

  p {
    font-size: 1rem;
    margin-top: 0;
  }

  &__content-left {
    display: flex;
    flex-grow: 1;
    padding: $general-v-spacing $general-h-spacing;

    > div {
      min-height: 2rem; // mostly for Pattern Lab
      width: 33%;
    }
  }

  &__content-right {
    display: flex;
    margin-left: 0;
    padding: $general-v-spacing $general-h-spacing $general-v-spacing 0;
    width: 20%;

    > div {
      border-left: $border-xs solid var(--fc__footer__fg);
      min-height: 2rem; // mostly for Pattern Lab
      padding-left: ($general-h-spacing * 2);
    }
  }

  &__copyright {
    background-color: var(--fc__footer__copyright__bg);
    color: var(--fc__footer__fg);
    padding: $general-v-spacing $general-h-spacing;

    &__content {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;

      p {
        font-size: 87.5%;
        max-width: unset;
      }
    }

    svg:first-of-type {
      width: rem(50);
      margin: -0.75rem 1rem -0.75rem 0;
    }
  }
}
