<footer class="qh-site-footer" role="contentinfo">
  <div class="col">
    {{ footer_preprocess_values.sidebar_left|raw }}
  </div>

  <div class="col">
    {{ footer_preprocess_values.sidebar_center|raw }}
  </div>

  <div class="col">
     {{ footer_preprocess_values.sidebar_right|raw }}
  </div>
</footer>
