.qh__teaser-speech {
  padding-bottom: $general-v-spacing;
  position: relative;
  z-index: 1;

  // <header>
  &__header {
    padding-bottom: ($general-v-spacing/3);
  }

  &__title {
    margin: 0;

    a,
    a:visited {
      text-decoration: none;
    }
  }

  &__date {
    margin-top: ($general-v-spacing/4);

    &::after {
      width: 1.5em;
    }

    time {
      font-size: 87.5%; // about 16px
      font-style: italic;
      font-variant-numeric: oldstyle-nums;
    }
  }

  &__content {
    padding-bottom: $general-v-spacing;
  }

  // <p>
  &__excerpt {
    transition: $transition-base;
  }

  // Extensions of the Teaser Article patternd
  &__cta {
    @extend .qh__teaser-article__cta;
  }

  &__cta &__link {

    &::before {
      content: '';
      display: block;
      position: absolute;
      @include qh-inset-supports(0);
      overflow: visible;
    }
  }

  // Because we are using the above method, a:hover will not affect children.
  // Therefore, we can not color the Headline when the Read More link is hovered.
  // Therefore therefore, we use a hover on the <article> element
  // Hover ONLY because keyboard focus still works as expected
  &:hover &__title a {
    color: var(--fc__default__link--hover);
  }

  &:hover &__excerpt {
    opacity: 0.8;
  }

  &:hover &__cta::after {
    color: var(--fc__default__link--hover);
    transform: translateX(4px);
  }
}
