.qh__teaser-speech {
  padding-bottom: $general-v-spacing;

  // <header>
  &__header {
    padding-bottom: ($general-v-spacing/3);
  }

  &__title {
    margin: 0;

    a,
    a:visited {
      text-decoration: none;
    }
  }

  &__date {
    margin-top: ($general-v-spacing/4);

    &::after {
      width: 1.5em;
    }

    time {
      font-size: 87.5%; // about 16px
      font-style: italic;
      font-variant-numeric: oldstyle-nums;
    }
  }

  &__content {
    padding-bottom: $general-v-spacing;
  }

  // <p>
  &__excerpt {}
}
