.qh__locations-vacsites-list {
  padding: $general-v-spacing 0;

  &__title {
    margin: 0;
    padding-bottom: $general-v-spacing;
  }

  &__list {
    //margin: 0 #{- $general-h-spacing};

  }

  &__list > * {
    padding: 0 $general-h-spacing;

    + * {
      margin-top: $general-v-spacing;
    }

    @media (min-width: $bp--medium) {
      flex: 1 1 0;
      display: flex;
      flex-flow: column;

      .qh__teaser-location-vacsite__cta {
        margin-top: auto;
      }
    }
  }
}
