<div class="text node">
	<p>Examples from https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Inline_text_semantics </p>

  <p><code>&lt;a&gt;</code>: <a href="#">This is a text link inside an anchor</a>.</p>

  <p><code>&lt;abbr&gt;</code>: Abbreviation <abbr title="HyperText Markup Language">HTML</abbr> and requires a title attribute.</p>

  <p><code>&lt;b&gt;</code>: "Bring attention to" element used to <b>draw the reader’s attention</b>.</p>

  <p><code>&lt;cite&gt;</code>: <cite title="Required by the HTML Standard">This is a citation</cite> and requires a title attribute.</p>

  <p><code>&lt;code&gt;</code>: Inline code with the <code>&lt;code&gt;</code> element.</p>

  <p><code>&lt;del&gt;</code>: <del>This text is to be deleted</del>. (Editor’s marks group)</p>

  <p><code>&lt;dfn&gt;</code>: The <dfn title="Definition">dfn element</dfn> indicates a definition and requires a title attribute.</p>

  <p><code>&lt;em&gt;</code>: <em>This text has added emphasis</em>.</p>

  <p><code>&lt;i&gt;</code>: <em>This text has added emphasis as well</em> but no semantic weight due to the HTML Idiomatic Text element.</p>

  <p><code>&lt;ins&gt;</code>: <ins>This text is to be inserted</ins>. (Editor’s marks group)</p>

  <p><code>&lt;kbd&gt;</code>: Keyboard input noted as such <kbd>Cmd</kbd>.</p>

  <p><code>&lt;mark&gt;</code>: The <mark>mark element</mark> indicates a highlight. (Editor’s marks group)</p>

	<p><code>&lt;q&gt;</code>: <q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q>. Curly quotes should be used and quote marks should change based on langauge.</p>

  <p><code>&lt;s&gt;</code>: <s>This text has a strikethrough</s> for purposes of removal at a later date. (Editor’s marks group)</p>

	<p><code>&lt;samp&gt;</code>: <samp>This is sample output</samp> from a computer program.</p>

  <p><code>&lt;small&gt;</code>: Fine print <small>Get out your reading glasses.</small></p>

	<p><code>&lt;strong&gt;</code>: <strong>Strong is used to indicate strong importance</strong>.</p>

	<p><code>&lt;sub&gt;</code>: Subscript for things like H<sub>2</sub>O.</p>

	<p><code>&lt;sup&gt;</code>: Superscript<sup>[1]</sup>.</p>

  <p><code>&lt;time&gt;</code>: <time datetime="2020-03-15T12:32+00:00">March 15, 2020 12:32pm</time></p>

  <p><code>&lt;u&gt;</code>: The <u>HTML Unarticulated Annotation element</u> represents a span of inline text which should be rendered in a way that indicates that it has a non-textual annotation. Use with caution, as underlines indicate links!</p>

	<p><code>&lt;var&gt;</code>: The variable element, such as <var>x</var> = <var>y</var>.</p>
</div><!--end .text-->
