

/* text-size proportional spacer */
body {
  --body-text-spacer: clamp(1rem, 2vw, 1.25rem);
}

p {
  font-family: var(--font-sans-vf);
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: 350;
  font-style: normal;
  hyphens: auto;
  line-height: clamp(1.25em, 2vw, 1.4em);
  margin: 0;
  max-width: 40em;
  @media screen and (min-width: $bp--medium) {
    hyphens: none;
  }

  + p,
  + ul,
  + ol,
  figure + & {
    margin-top: var(--body-text-spacer);
  }
}

#{$all-headers} {
  color: var(--fc__default__hx__fg);
}

h1 {
  font-family: var(--font-serif-vf);
  font-size: clamp(2rem, 5vw, 5.5rem);
  font-weight: 275;
  font-style: normal;
  line-height: clamp(1.05em, 6vw, 1.1em);
  margin-top: 0;
  margin-bottom: calc(var(--body-text-spacer) * 1);
}

h2 {
  font-family: var(--font-serif-vf);
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: 475;
  font-style: normal;
  line-height: clamp(1.1em, 6vw, 1.15em);
  margin-top: calc(var(--body-text-spacer) * 2);
  margin-bottom: calc(var(--body-text-spacer) * 0.5);

  &:first-of-type,
  &.emphasis {
    &::after {
      content: ' ';
      display: block;
      border-bottom: solid 0.4rem var(--c__rhody-red);
      margin-top: calc(var(--body-text-spacer) * 0.85);
      margin-bottom: calc(var(--body-text-spacer) * 0.85);
      width: 1.125em;
    }
  }
}


h3 {
  font-family: var(--font-sans-vf);
  font-size: clamp(1.25rem, 2.5vw, 2rem);
  font-weight: 575;
  font-style: normal;
  margin-top: calc(var(--body-text-spacer) * 1.5);
  margin-bottom: calc(var(--body-text-spacer) * 0.5);
}

h4 {
  font-family: var(--font-serif-vf);
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: 400;
  font-style: normal;
  margin-top: calc(var(--body-text-spacer) * 1.5);
  margin-bottom: calc(var(--body-text-spacer) * 0.5);
}

h5 {
  font-family: var(--font-serif-vf);
  font-size: clamp(0.925rem, 1vw, 1.125rem);
  font-weight: 500;
  font-style: normal;
  margin-top: calc(var(--body-text-spacer) * 1.5);
  margin-bottom: calc(var(--body-text-spacer) * 0.5);
}

h6 {
  font-family: var(--font-serif-vf);
  font-size: clamp(0.825rem, 1vw, 1rem);
  font-weight: 600;
  font-style: normal;
  margin-top: calc(var(--body-text-spacer) * 1.5);
  margin-bottom: calc(var(--body-text-spacer) * 0.5);
}

.headline-super {
  font-size: clamp(2.5rem, 6vw, 8rem);
  font-weight: 225;
}

strong,
b {
  font-weight: 575;
}

blockquote {
  //border-top: solid 0.33rem $color-rhody-red;
  margin: 0;
  max-width: var(--content-width);

  p {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    font-weight: 150;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.75rem;
  }
}

address {
  font-family: var(--font-sans-vf);
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: 350;
}

time {
  font-family: var(--font-sans-vf);
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: 350;
}

label {
  display: block;
  font-family: var(--font-sans-vf);
  font-size: 0.875rem;
  font-weight: 475;
}
