<div class="qh__gallery">

  <div class="qh__gallery__slider">
    <figure class="qh__media-item qh__media-img large ">
      <img src="/images/sample/landscape-16x9-mountains.jpg" alt="">
      <figcaption>2019 LASA Grant Awardees Announced Local Agriculture and Seafood Act (LASA) grants support the growth, development, and marketing of local food and seafood in Rhode Island</figcaption>
    </figure>
    <figure class="qh__media-item qh__media-img large ">
      <img src="/images/sample/landscape-16x9-mountains.jpg" alt="">
      <figcaption>2020 LASA Grant Awardees Announced Local Agriculture and Seafood Act (LASA) grants support the growth, development, and marketing of local food and seafood in Rhode Island</figcaption>
    </figure>
    <figure class="qh__media-item qh__media-img large ">
      <img src="/images/sample/landscape-16x9-mountains.jpg" alt="">
      <figcaption>2021 LASA Grant Awardees Announced Local Agriculture and Seafood Act (LASA) grants support the growth, development, and marketing of local food and seafood in Rhode Island</figcaption>
    </figure>
    <figure class="qh__media-item qh__media-img large ">
      <img src="/images/sample/landscape-16x9-mountains.jpg" alt="">
      <figcaption>2022 LASA Grant Awardees Announced Local Agriculture and Seafood Act (LASA) grants support the growth, development, and marketing of local food and seafood in Rhode Island</figcaption>
    </figure>
  </div>

  <div class="qh__gallery__controls" aria-label="Gallery navigation" tabindex="0">
    <a class="qh__gallery__button qh__gallery__button--prev" data-controls="prev" aria-controls="customize" tabindex="-1">
      {% include ('@icons/chevron-left.svg') %}
    </a>

      <a class="qh__gallery__button qh__gallery__button--next" data-controls="next" aria-controls="customize" tabindex="-1">
      {% include ('@icons/chevron-right.svg') %}
    </a>

    <div class="qh__gallery__nav">
      <a class="qh__gallery__nav-radio"><span class="visually-hidden">Slide 1</span></a>
      <a class="qh__gallery__nav-radio"><span class="visually-hidden">Slide 2</span></a>
      <a class="qh__gallery__nav-radio"><span class="visually-hidden">Slide 3</span></a>
      <a class="qh__gallery__nav-radio"><span class="visually-hidden">Slide 4</span></a>
    </div>
  </div>
</div>
