.qh__global-header {
  background-color: var(--fc__official__bg);
  color: var(--fc__official__fg);

  @media print {
    display: none;
  }

  &__wrapper {
    @include qh-content-maxwidth();
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: ($general-v-spacing/2) $general-h-spacing;
  }

  a {

    &,
    &:visited {
      color: var(--fc__official__link);
    }

    &:hover,
    &:focus {
      color: var(--fc__official__link--hover);
    }

    &:focus {
      outline-color: var(--fc__official__link--focus);
    }

    &:active {
      color: var(--fc__official__link--active);
    }
  }

  p {
    font-size: 0.875rem;
    font-weight: 375;

    // Remove later once there are vertical rhythm rules in place for content containers only
    & + p {
      margin-top: 0;
    }
  }

  // <p>
  &__tagline {}

  // <p><a role="button'>
  &__settings {}
}
