<div class="qh__global-header">
  <div class="qh__global-header__wrapper">
    <p class="qh__global-header__tagline">Official State of Rhode Island website. <a href="#">How to be sure</a></p>
    <div class="qh__global-header__settings">
      {% include '@molecules/user-settings/user-settings.twig' %}    
    </div>
  </div>
</div>
