<div class="global-header">
  <div class="content-wrapper">
    <p class="official-site-tagline">Official State of Rhode Island website. <a href="#">How to be sure</a></p>
    <button class="user-settings">User settings</button>
  </div>
</div>