<div class="qh__global-header">
  <div class="qh__global-header__wrapper">
    <p class="qh__global-header__tagline">Official State of Rhode Island website. <a href="#">How to be sure</a></p>
    <p class="qh__global-header__settings"><a href="#" role='button'>User settings</a></p>
  </div>
</div>
