/**
 * Breakpoint Configuration
 *
 */


// mq values (no unit)
$bp--small-value: 22.5;   // 360
$bp--medium-value: 47.5;  // 760
$bp--large-value: 62;     // 992
$bp--xlarge-value: 75;    // 1200
$bp--xxlarge-value: 86;   // 1386

// mq's in ems
$bp--small: $bp--small-value * 1em;
$bp--medium: $bp--medium-value * 1em;
$bp--large: $bp--large-value * 1em;
$bp--xlarge: $bp--xlarge-value * 1em;
$bp--xxlarge: $bp--xxlarge-value * 1em;
