// All headers
$all-headers: 'h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6';

// Borders
$border-xs: rem(1);
$border-sm: rem(2);
$border-md: rem(6); // Not used yet, feel free to change
$border-lg: rem(14);
$border-xl: rem(21);

// Box Shadows
$box-shadow-base: 0 0.125em 0.5em var(--c__quahog--dark--trans33);

// Buttons
$button-border-radius: rem(3);
$button-v-spacing: 0.75rem;
$button-h-spacing: 1.25rem;

// Content max-width
$content-max-small-screen: 93vw;
$content-max-large-screen: 90rem;

$content-max-width: $content-max-small-screen;
@media screen and (min-width: $bp--large) {
  $content-max-width: $content-max-large-screen;
}
body {
  --content-max-width: min(#{$content-max-small-screen}, #{$content-max-large-screen});
}

// Generic page gutter, column spacing, vertical spacing
$general-v-spacing: 1.5rem;
$general-h-spacing: 1rem;

$grid-gap: 1.5rem;

// Icon sizing
$icon-dimension: rem(44);

// Input
$input-border-radius: $button-border-radius;
$input-v-spacing: 0.75em;
$input-h-spacing: 0.75em;

// Kerning
//$kerning-loose: 0.0625em; not used yet
$kerning-base: 0.035em;
//$kerning-tight: -0.03125em; not used yet

// Max-width on type elements for line-length legibility
$max-line-length: em(640);

// Transitions
$transition-duration-base: 250ms;
$transition-duration-medium: 500ms;
$transition-timing-base: ease;
$transition-base: all $transition-duration-base $transition-timing-base;
$transition-medium: all $transition-duration-medium $transition-timing-base;

// Spacing on similar components

// Navigation: Main, secondary (side), and accordions
$nav-a-v-spacing: 1rem;
$nav-a-v-spacing--sm: rem(10);
$nav-a-h-spacing: 1.5rem;
$nav-a-h-spacing--sm: 1rem;

// Z-indices
$zindex: (
  base: 1,
  desktop-nav-bar: 449,
  mobile-body-overlay: 450,
  mobile-nav-bar: 451,
  drop-down-menu: 500
);


html {
  // Light mode
  --osLightMode: light;
  @media (prefers-color-scheme:dark) {
    --osLightMode: dark;
  }

  // Font size modifier
  --fontSizeModifier: 1;

  // Line-height modifier/
  --lineHeightModifier: 1;

  // word space modifier
  --wordSpaceModifier: 0;
}


// Typography variables
// Preprocessed for fallbacks

// Default 'normal' weight for body text
$default-body-wght: 350;
body {
  --default-body-wght: #{$default-body-wght};
  --p-font-wght: #{$default-body-wght};
  --st-font-wght: #{$default-body-wght};
}

// Set base text size for all calcs
$text-base-size: 16;

// Change px values here for all font sizing
$p-size-s-px: 16;
$p-size-m-px: 18;
$p-size-l-px: 20;

$h1-size-s-px: 32;
$h1-size-m-px: 60;
$h1-size-l-px: 76;

$h2-size-s-px: 24;
$h2-size-m-px: 36;
$h2-size-l-px: 48;

$h3-size-s-px: 20;
$h3-size-m-px: 24;
$h3-size-l-px: 28;

$h4-size-s-px: 16;
$h4-size-m-px: 18;
$h4-size-l-px: 20;

$h5-size-s-px: 15;
$h5-size-m-px: 16;
$h5-size-l-px: 18;

$h6-size-s-px: 14;
$h6-size-m-px: 15;
$h6-size-l-px: 16;

$bq-size-s-px: 20;
$bq-size-m-px: 22;
$bq-size-l-px: 24;

// small text
$st-size-s-px: 12;
$st-size-m-px: 13;
$st-size-l-px: 14;

// Font size REM values
$p-size-s-value: $p-size-s-px / $text-base-size;
$p-size-l-value: $p-size-l-px / $text-base-size;

$h1-size-s-value: $h1-size-s-px / $text-base-size;
$h1-size-l-value: $h1-size-l-px / $text-base-size;

$h2-size-s-value: $h2-size-s-px / $text-base-size;
$h2-size-l-value: $h2-size-l-px / $text-base-size;

$h3-size-s-value: $h3-size-s-px / $text-base-size;
$h3-size-l-value: $h3-size-l-px / $text-base-size;

$h4-size-s-value: $h4-size-s-px / $text-base-size;
$h4-size-l-value: $h4-size-l-px / $text-base-size;

$h5-size-s-value: $h5-size-s-px / $text-base-size;
$h5-size-l-value: $h5-size-l-px / $text-base-size;

$h6-size-s-value: $h6-size-s-px / $text-base-size;
$h6-size-l-value: $h6-size-l-px / $text-base-size;

$bq-size-s-value: $bq-size-s-px / $text-base-size;
$bq-size-l-value: $bq-size-l-px / $text-base-size;

$st-size-s-value: $st-size-s-px / $text-base-size;
$st-size-l-value: $st-size-l-px / $text-base-size;

// Font size REMs
$p-size-s: $p-size-s-px / $text-base-size * 1rem;
$p-size-m: $p-size-m-px / $text-base-size * 1rem;
$p-size-l: $p-size-l-px / $text-base-size * 1rem;

$h1-size-s: $h1-size-s-px / $text-base-size * 1rem;
$h1-size-m: $h1-size-m-px / $text-base-size * 1rem;
$h1-size-l: $h1-size-l-px / $text-base-size * 1rem;

$h2-size-s: $h2-size-s-px / $text-base-size * 1rem;
$h2-size-m: $h2-size-m-px / $text-base-size * 1rem;
$h2-size-l: $h2-size-l-px / $text-base-size * 1rem;

$h3-size-s: $h3-size-s-px / $text-base-size * 1rem;
$h3-size-m: $h3-size-m-px / $text-base-size * 1rem;
$h3-size-l: $h3-size-l-px / $text-base-size * 1rem;

$h4-size-s: $h4-size-s-px / $text-base-size * 1rem;
$h4-size-m: $h4-size-m-px / $text-base-size * 1rem;
$h4-size-l: $h4-size-l-px / $text-base-size * 1rem;

$h5-size-s: $h5-size-s-px / $text-base-size * 1rem;
$h5-size-m: $h5-size-m-px / $text-base-size * 1rem;
$h5-size-l: $h5-size-l-px / $text-base-size * 1rem;

$h6-size-s: $h6-size-s-px / $text-base-size * 1rem;
$h6-size-m: $h6-size-m-px / $text-base-size * 1rem;
$h6-size-l: $h6-size-l-px / $text-base-size * 1rem;

$bq-size-s: $bq-size-s-px / $text-base-size * 1rem;
$bq-size-m: $bq-size-m-px / $text-base-size * 1rem;
$bq-size-l: $bq-size-l-px / $text-base-size * 1rem;

$st-size-s: $st-size-s-px / $text-base-size * 1rem;
$st-size-m: $st-size-m-px / $text-base-size * 1rem;
$st-size-l: $st-size-l-px / $text-base-size * 1rem;

// Line-height (needs to be in EMs)
$p-lh-s: 1.35;
$p-lh-m: 1.4;
$p-lh-l: 1.45;

$h1-lh-s: 1.05;
$h1-lh-m: 1.075;
$h1-lh-l: 1.1;

$h2-lh-s: 1.1;
$h2-lh-m: 1.125;
$h2-lh-l: 1.15;

$h3-lh-s: 1.1;
$h3-lh-m: 1.125;
$h3-lh-l: 1.15;

$h4-lh-s: 1.1;
$h4-lh-m: 1.2;
$h4-lh-l: 1.3;

$h5-lh-s: 1.1;
$h5-lh-m: 1.2;
$h5-lh-l: 1.3;

$h6-lh-s: 1.1;
$h6-lh-m: 1.2;
$h6-lh-l: 1.3;

$bq-lh-s: 1.5;
$bq-lh-m: 1.525;
$bq-lh-l: 1.55;

$st-lh-s: 1.1;
$st-lh-m: 1.2;
$st-lh-l: 1.3;

// Custom props for modern browsers
body {
  --p-size-s: #{$p-size-s};
  --p-size-m: #{$p-size-m};
  --p-size-l: #{$p-size-l};

  --h1-size-s: #{$h1-size-s};
  --h1-size-m: #{$h1-size-m};
  --h1-size-l: #{$h1-size-l};

  --h2-size-s: #{$h2-size-s};
  --h2-size-m: #{$h2-size-m};
  --h2-size-l: #{$h2-size-l};

  --h3-size-s: #{$h3-size-s};
  --h3-size-m: #{$h3-size-m};
  --h3-size-l: #{$h3-size-l};

  --h4-size-s: #{$h4-size-s};
  --h4-size-m: #{$h4-size-m};
  --h4-size-l: #{$h4-size-l};

  --h5-size-s: #{$h5-size-s};
  --h5-size-m: #{$h5-size-m};
  --h5-size-l: #{$h5-size-l};

  --h6-size-s: #{$h6-size-s};
  --h6-size-m: #{$h6-size-m};
  --h6-size-l: #{$h6-size-l};

  --bq-size-s: #{$bq-size-s};
  --bq-size-m: #{$bq-size-m};
  --bq-size-l: #{$bq-size-l};

  --st-size-s: #{$st-size-s};
  --st-size-m: #{$st-size-m};
  --st-size-l: #{$st-size-l};

  --p-lh-s: #{$p-lh-s};
  --p-lh-m: #{$p-lh-m};
  --p-lh-l: #{$p-lh-l};

  --h1-lh-s: #{$h1-lh-s};
  --h1-lh-m: #{$h1-lh-m};
  --h1-lh-l: #{$h1-lh-l};

  --h2-lh-s: #{$h2-lh-s};
  --h2-lh-m: #{$h2-lh-m};
  --h2-lh-l: #{$h2-lh-l};

  --h3-lh-s: #{$h3-lh-s};
  --h3-lh-m: #{$h3-lh-m};
  --h3-lh-l: #{$h3-lh-l};

  --h4-lh-s: #{$h4-lh-s};
  --h4-lh-m: #{$h4-lh-m};
  --h4-lh-l: #{$h4-lh-l};

  --h5-lh-s: #{$h5-lh-s};
  --h5-lh-m: #{$h5-lh-m};
  --h5-lh-l: #{$h5-lh-l};

  --h6-lh-s: #{$h6-lh-s};
  --h6-lh-m: #{$h6-lh-m};
  --h6-lh-l: #{$h6-lh-l};

  --bq-lh-s: #{$bq-lh-s};
  --bq-lh-m: #{$bq-lh-m};
  --bq-lh-l: #{$bq-lh-l};

  --st-lh-s: #{$st-lh-s};
  --st-lh-m: #{$st-lh-m};
  --st-lh-l: #{$st-lh-l};


  // Scaling accessible typography setup

  // Set scaling values
  --p-scaler-value: 1.25;
  --p-lh-scaler-value: 3;

  --h1-scaler-value: 6;
  --h1-lh-scaler-value: 6;

  --h2-scaler-value: 4;
  --h2-lh-scaler-value: 6;

  --h3-scaler-value: 2.5;
  --h3-lh-scaler-value: 5;

  --h4-scaler-value: 2;
  --h4-lh-scaler-value: 5;

  --h5-scaler-value: 1;
  --h5-lh-scaler-value: 4;

  --h6-scaler-value: 1;
  --h6-lh-scaler-value: 4;

  --bq-scaler-value: 2;
  --bq-lh-scaler-value: 2.5;

  --st-scaler-value: 1;
  --st-lh-scaler-value: 2;
}

* {
  // default starting values for scaling formulas
  --font-size-min-value: #{$p-size-s};
  --font-size-max-value: #{$p-size-l};
  --font-size-scaler-value: var(--p-scaler-value);
  --font-lh-min-value: #{$p-lh-s};
  --font-lh-max-value: #{$p-lh-l};
  --font-lh-scaler-value: var(--p-lh-scaler-value);

  // factor in fontSizeModifier preference
  --font-size-min: calc(var(--font-size-min-value) * var(--fontSizeModifier) * 1rem);
  --font-size-max: calc(var(--font-size-max-value) * var(--fontSizeModifier)  * 1rem);

  // reusable font-size var for each text element
  --font-size: clamp(var(--font-size-min), calc(0.5rem + (var(--font-size-scaler-value) * 1vw)), var(--font-size-max));

  // factor in lineHeightModifier preference
  --font-lh-min: calc(var(--font-lh-min-value) * var(--lineHeightModifier) * 1em);
  --font-lh-max: calc(var(--font-lh-max-value) * var(--lineHeightModifier) * 1em);

  // reusable line-height var for each text element
  --line-height: clamp(var(--font-lh-min), calc(var(--font-lh-scaler-value) * 1vw), var(--font-lh-max));

  --word-spacing: calc( 1em * var(--wordSpaceModifier) );
}
