// All headers
$all-headers: 'h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6';

// Borders
$border-xs: rem(1);
$border-sm: rem(2);
$border-md: rem(6); // Not used yet, feel free to change
$border-lg: rem(14);
$border-xl: rem(21);

// Box Shadows
$box-shadow-base: 0 0.125em 0.5em var(--c__quahog--dark--trans33);

// Buttons
$button-border-radius: em(3);
$button-v-spacing: 1em;
$button-h-spacing: 1.5em;

// Content max-width
$content-max-small-screen: 93vw;
$content-max-large-screen: 90rem;

$content-max-width: $content-max-small-screen;
@media screen and (min-width: $bp--large) {
  $content-max-width: $content-max-large-screen;
}
body {
  --content-max-width: min(#{$content-max-small-screen}, #{$content-max-large-screen});
}

// Generic page gutter, column spacing, vertical spacing
$general-v-spacing: 1.5rem;
$general-h-spacing: 1rem;

// Icon sizing
$icon-dimension: rem(44);

// Input
$input-border-radius: $button-border-radius;
$input-v-spacing: 0.75em;
$input-h-spacing: 1em;

// Kerning
//$kerning-loose: 0.0625em; not used yet
$kerning-base: 0.03125em;
//$kerning-tight: -0.03125em; not used yet

// Transitions
$transition-duration-base: 250ms;
$transition-duration-medium: 500ms;
$transition-timing-base: ease;
$transition-base: all $transition-duration-base $transition-timing-base;
$transition-medium: all $transition-duration-medium $transition-timing-base;

// Spacing on similar components

// Navigation: Main, secondary (side), and accordions
$nav-a-v-spacing: 1rem;
$nav-a-v-spacing--sm: rem(10);
$nav-a-h-spacing: 1.5rem;
$nav-a-h-spacing--sm: 1rem;

// Z-indices
$zindex: (
  base: 1,
  drop-down-menu: 500
);

/* Light mode */
body {
  --osLightMode: light;
  @media (prefers-color-scheme:dark) {
    --osLightMode: dark;
  }
}

/* Font size modifier */
body {
  --fontSizeModifier: 1;
}

/* Line-height modifier */
body {
  --lineHeightModifier: 1;
}

/* word space modifier */
body {
  --wordSpaceModifier: 0;
}

/* Typography variables */

/* Preprocessed for fallbacks */

/* Set base text size for all calcs */
$text-base-size: 16;

/* Change px values here for all font sizing */
$p-size-s-px: 16;
$p-size-m-px: 18;
$p-size-l-px: 20;

$h1-size-s-px: 32;
$h1-size-m-px: 60;
$h1-size-l-px: 88;

$h2-size-s-px: 16;
$h2-size-m-px: 18;
$h2-size-l-px: 20;

/* Font size REMs */
$p-size-s: $p-size-s-px / $text-base-size * 1rem;
$p-size-m: $p-size-m-px / $text-base-size * 1rem;
$p-size-l: $p-size-l-px / $text-base-size * 1rem;

$h1-size-s: $h1-size-s-px / $text-base-size * 1rem;
$h1-size-m: $h1-size-m-px / $text-base-size * 1rem;
$h1-size-l: $h1-size-l-px / $text-base-size * 1rem;

/* Line-height (needs to be in EMs) */
$p-lh-s: 1.5em;
$p-lh-m: 1.525em;
$p-lh-l: 1.55em;

$h1-lh-s: 1.05em;
$h1-lh-m: 1.075em;
$h1-lh-l: 1.1em;

/* Custom props for modern browsers */
body {
  --p-size-s: #{$p-size-s};
  --p-size-m: #{$p-size-m};
  --p-size-l: #{$p-size-l};

  --h1-size-s: #{$h1-size-s};
  --h1-size-m: #{$h1-size-m};
  --h1-size-l: #{$h1-size-l};


  --p-lh-s: #{$p-lh-s};
  --p-lh-m: #{$p-lh-m};
  --p-lh-l: #{$p-lh-l};

  --h1-lh-s: #{$h1-lh-s};
  --h1-lh-m: #{$h1-lh-m};
  --h1-lh-l: #{$h1-lh-l};


}

/* Scaling accessible typography setup */

/* Set scaling values */
body {
  --p-scaler-value: 1.25;
  --p-lh-scaler-value: 3;

  --h1-scaler-value: 6;
  --h1-lh-scaler-value: 6;

  --h2-scaler-value: 3;
  --h2-lh-scaler-value: 3;

  --h3-scaler-value: 2;
  --h3-lh-scaler-value: 3.75;

  --bq-scaler-value: 2.25;
  --bq-lh-scaler-value: 2.5;

}

* {
  /* default starting values for scaling formulas */
  --font-size-min-value: #{$p-size-s};
  --font-size-max-value: #{$p-size-l};
  --font-size-scaler-value: var(--p-scaler-value);
  --font-lh-min-value: #{$p-lh-s};
  --font-lh-max-value: #{$p-lh-l};
  --font-lh-scaler-value: var(--p-lh-scaler-value);

  /* facter in fontSizeModifier preference */
  --font-size-min: calc(var(--font-size-min-value) * var(--fontSizeModifier) * 1rem);
  --font-size-max: calc(var(--font-size-max-value) * var(--fontSizeModifier)  * 1rem);

  /* reusable font-size var for each text element */
  --font-size: clamp(var(--font-size-min), calc(0.5rem + (var(--font-size-scaler-value) * 1vw)), var(--font-size-max));

  /* facter in lineHeightModifier preference */
  --font-lh-min: calc(var(--font-lh-min-value) * var(--lineHeightModifier) * 1em);
  --font-lh-max: calc(var(--font-lh-max-value) * var(--lineHeightModifier) * 1em);

  /* reusable line-height var for each text element */
  --line-height: clamp(var(--font-lh-min), calc(var(--font-lh-scaler-value) * 1vw), var(--font-lh-max)); 

  --word-spacing: calc( 1em * var(--wordSpaceModifier) );
}
