// All headers
$all-headers: 'h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6';

// Borders
$border-xs: rem(1);
$border-sm: rem(2);
$border-md: rem(6); // Not used yet, feel free to change
$border-lg: rem(14);
$border-xl: rem(21);

// Box Shadows
$box-shadow-base: 0 0.125em 0.5em var(--c__quahog--dark--trans33);

// Buttons
$button-border-radius: em(3);
$button-v-spacing: 1em;
$button-h-spacing: 1.5em;

// Content max-width
$content-max-small-screen: 93vw;
$content-max-large-screen: 90rem;

$content-max-width: $content-max-small-screen;
@media screen and (min-width: $bp--large) {
  $content-max-width: $content-max-large-screen;
}
body {
  --content-max-width: min(#{$content-max-small-screen}, #{$content-max-large-screen});
}

// Generic page gutter, column spacing, vertical spacing
$general-v-spacing: 1.5rem;
$general-h-spacing: 1rem;

// Icon sizing
$icon-dimension: rem(44);

// Input
$input-border-radius: $button-border-radius;
$input-v-spacing: 0.75em;
$input-h-spacing: 1em;

// Kerning
//$kerning-loose: 0.0625em; not used yet
$kerning-base: 0.03125em;
//$kerning-tight: -0.03125em; not used yet

// Transitions
$transition-duration-base: 250ms;
$transition-duration-medium: 500ms;
$transition-timing-base: ease;
$transition-base: all $transition-duration-base $transition-timing-base;
$transition-medium: all $transition-duration-medium $transition-timing-base;

// Spacing on similar components

// Navigation: Main, secondary (side), and accordions
$nav-a-v-spacing: 1rem;
$nav-a-v-spacing--sm: rem(10);
$nav-a-h-spacing: 1.5rem;
$nav-a-h-spacing--sm: 1rem;

// Z-indices
$zindex: (
  base: 1,
  mobile-body-overlay: 450,
  mobile-nav-bar: 451,
  drop-down-menu: 500
);

/* Light mode */
:root {
  --osLightMode: light;
  @media (prefers-color-scheme:dark) {
    --osLightMode: dark;
  }
}

/* Font size modifier */
:root {
  --fontSizeModifier: 1;
}

/* Line-height modifier */
:root {
  --lineHeightModifier: 1;
}

/* word space modifier */
:root {
  --wordSpaceModifier: 0;
}
