
/* Variable Font  */
@font-face {
  font-family: 'Roboto Slab VF';
  font-weight: 100 900; /* default: 400 */
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/work-sans-vf/WorkSans-Roman-subset.woff2') format('woff2 supports variations'), url('../fonts/roboto-slab-vf/RobotoSlab.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Work Sans VF';
  font-weight: 100 900; /* default: 400 */
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/work-sans-vf/WorkSans-Roman-subset.woff2') format('woff2 supports variations'), url('../fonts/work-sans-vf/WorkSans-Roman-subset.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Work Sans VF';
  font-weight: 100 900; /* default: 400 */
  font-style: italic;
  font-stretch: normal;
  src: url('../fonts/work-sans-vf/WorkSans-Italic-subset.woff2') format('woff2 supports variations'), url('../fonts/work-sans-vf/WorkSans-Italic-subset.woff2') format('woff2-variations');
}
