.qh__text-card-collection {
  margin: 0 0 $general-v-spacing 0;

  // <h2>
  &__title {
    margin-top: 0;
  }

  &__description {}

  &__cards {

    @include breakpoint-up($bp__text-collection--2col) {
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
      justify-content: center;

      .qh__collection__primary-bg &,
      .qh__collection__primary-light-bg &,
      .qh__collection__coffee-milk-bg & {
        .qh__text-card {
          flex: 1 0 calc(50% - #{$grid-gap/2});
          max-width: 50%;

          // TODO: Needs testing
          @include onlyIE() {
            width: calc(50% - #{$grid-gap/2});
          }
        }
      }

      .qh__collection__border-btwn & {
        .qh__text-card {
          flex: 0 1 50%;

          // TODO: Needs testing
          @include onlyIE() {
            width: calc(50% - #{$grid-gap/2});
          }
        }
      }
    }

    @include breakpoint-up($bp__text-collection--3col) {

      .qh__collection__primary-bg &,
      .qh__collection__primary-light-bg &,
      .qh__collection__coffee-milk-bg & {
        .qh__text-card {
          flex: 1 0 calc(33% - #{($grid-gap * 2)/3});
          max-width: 33%;

          // TODO: Needs testing
          @include onlyIE() {
            width: calc(50% - #{$grid-gap/2});
          }
        }
      }

      .qh__collection__border-btwn & {
        .qh__text-card {
          flex: 0 1 33%;

          // TODO: Needs testing
          @include onlyIE() {
            width: calc(33% - #{$grid-gap});
          }
        }
      }
    }
  }
}
