<div class="qh__execorders">
  <h1 class="qh__execorders__title">The Governor’s Executive Orders</h1>

  <ul class="qh-u__list-reset qh__execorders__list" role="list">
    <li class="qh__execorders__item">
      {% include "@molecules/teaser-executive-order/teaser-execorder.twig" with {
          order_number: "Executive Order 21-11",
          title: "One Hundred-and-Seventeenth Supplemental Emergency Declaration - Further Revised Protecting Your Household Order",
          url: "#",
          machine_date: '2021-02-05T17:00-05:00',
          date: 'February 5, 2021',
          summary: ""
        }
      %}
    </li>
    <li class="qh__execorders__item">
      {% include "@molecules/teaser-executive-order/teaser-execorder.twig" with {
          order_number: "Executive Order 21-10",
          title: "One Hundred-and-Sixteenth Supplemental Emergency Declaration – Extension of Executive Orders 20-44, 20-46, 20-62, and 21-02",
          url: "#",
          machine_date: '2021-02-03T17:00-05:00',
          date: 'February 3, 2021',
          summary: ""
        }
      %}
    </li>
    <li class="qh__execorders__item">
      {% include "@molecules/teaser-executive-order/teaser-execorder.twig" with {
          order_number: "Executive Order 21-09",
          title: "One Hundred-and-Fifteenth Supplemental Emergency Declaration – Revised Protecting Your Household Order",
          url: "#",
          machine_date: '2021-02-03T17:00-05:00',
          date: 'January 29, 2021',
          summary: ""
        }
      %}
    </li>
    <li class="qh__execorders__item">
      {% include "@molecules/teaser-executive-order/teaser-execorder.twig" with {
          order_number: "Executive Order 21-08",
          title: "One Hundred-and-Fourteenth Supplemental Emergency Declaration – Extension of Executive Orders 20- 06, 20-16, 20-17, 20-19, 20-70, 20-72, 20-94, 20-104 and 20-110",
          url: "#",
          machine_date: '2021-02-03T17:00-05:00',
          date: 'January 27, 2021',
          summary: "A strong advisory for vulnerable populations to remain home; International Travel Restrictions Remain in Place; Domestic Travel Restrictions from Areas with High Community Spread Rates; Coordinating Travel Restrictions with Neighboring State; Further Limitations on Indoor and Outdoor Social Gatherings; Limits on Indoor and Outdoor Venues of Assembly; Limits on Other Places of Public Interaction; Office-Based Business Limits - Continue Working Remotely to the Extent Possible; Continued and Modified Relief for Restaurants and Bars - Indoor and Outdoor Dining; Recreational/Entertainment Businesses and Historical/Cultural Establishments; Personal Services Businesses; Gyms, Fitness Centers and Small Group Fitness Classes; Indoor Sports Facilities; Restricting Sports Competitions and Practices; Restricting Interstate Sporting Activities; Restricting Spectators from Attending Sporting Events or Practice."
        }
      %}
    </li>
    <li class="qh__execorders__item">
      {% include "@molecules/teaser-executive-order/teaser-execorder.twig" with {
          order_number: "Executive Order 21-07",
          title: "One Hundred-and-Fourteenth Supplemental Emergency Declaration – Extension of Executive Orders 20- 06, 20-16, 20-17, 20-19, 20-70, 20-72, 20-94, 20-104 and 20-110",
          url: "#",
          machine_date: '2021-01-20T17:00-05:00',
          date: 'January 20, 2021',
          summary: "Substitute paragraph 40 and its paragraph heading, “Restricting Sports Competitions and Practices”, of Executive Order 20-108 with the following amended paragraph headings and provisions."
        }
      %}
    </li>
    <li class="qh__execorders__item">
      {% include "@molecules/teaser-executive-order/teaser-execorder.twig" with {
          order_number: "Executive Order 21-06",
          title: "One Hundred-and-Twelfth Supplemental Emergency Declaration – Extension of Executive Orders 20-02, 20-29 and 20-39",
          url: "#",
          machine_date: '2021-01-19T17:00-05:00',
          date: 'January 19, 2021',
          summary: ""
        }
      %}
    </li>
    <li class="qh__execorders__item">
      {% include "@molecules/teaser-executive-order/teaser-execorder.twig" with {
          order_number: "Executive Order 21-05",
          title: "One Hundred-and-Eleventh Supplemental Emergency Declaration – Extension of Executive Order 20-108",
          url: "#",
          machine_date: '2021-01-15T17:00-05:00',
          date: 'January 15, 2021',
          summary: ""
        }
      %}
    </li>
    <li class="qh__execorders__item">
      {% include "@molecules/teaser-executive-order/teaser-execorder.twig" with {
          order_number: "Executive Order 21-04",
          title: "One Hundred-and-Tenth Supplemental Emergency Declaration – In-Person Learning at Institutes of Higher Education",
          url: "#",
          machine_date: '2021-01-14T17:00-05:00',
          date: 'January 14, 2021',
          summary: "Institutes of Higher Learning may conduct in-person learning upon consultation with RIDOH and in accordance with all applicable executive orders and regulations relating to COVID-19 starting January 2021"
        }
      %}
    </li>
    <li class="qh__execorders__item">
      {% include "@molecules/teaser-executive-order/teaser-execorder.twig" with {
          order_number: "Executive Order 21-03",
          title: "One Hundred-and-Ninth Supplemental Emergency Declaration – Extension of Executive Orders 20-37 and 20-107",
          url: "#",
          machine_date: '2021-01-13T17:00-05:00',
          date: 'January 13, 2021',
          summary: ""
        }
      %}
    </li>
    <li class="qh__execorders__item">
      {% include "@molecules/teaser-executive-order/teaser-execorder.twig" with {
          order_number: "Executive Order 21-02",
          title: "One Hundred-and-Eighth Supplemental Emergency Declaration – Amended Student Transportation Order",
          url: "#",
          machine_date: '2021-01-11T17:00-05:00',
          date: 'January 11, 2021',
          summary: "The requirement of using designated types of vehicle for specified routes as contained in R.I. General Laws § 31-22-11.6(a)(2)(i) is hereby suspended as of January 6, 2021 for student transportation providers retained by or via RIDE to provide student transportation services with details."
        }
      %}
    </li>
    <li class="qh__execorders__item">
      {% include "@molecules/teaser-executive-order/teaser-execorder.twig" with {
          order_number: "Executive Order 21-01",
          title: "One-Hundred-and-Seventh Supplemental Emergency Declaration – Extension of Executive Orders 20-44, 20-46, 20-62 and 20-96",
          url: "#",
          machine_date: '2021-01-06T17:00-05:00',
          date: 'January 6, 2021',
          summary: ""
        }
      %}
    </li>
  </ul>

  <!-- Pager? -->
</div>
