<article class="qh__icon-card qh__icon-card--search-state">
  <div class="qh__icon-card__icon">
    <span class="qh__icon" aria-hidden="true">
      {% include ('@icons/search-glass.svg') %}
    </span>
  </div>
  <div class="qh__icon-card__content">
    <h3 class="qh__icon-card__title">
      {{ "Not finding the results you need?"|t }}
    </h3>
    <p>{{ "Search all Ri.gov agency websites for more results:"|t }}</p>
    <p><a href="{{ search_link }}">{{ "Search the state"|t }}</a></p>
  </div>
</article>
