<article class="icon-card">
  <div class="icon-card__icon">
    {% include ('@icons/default-logo.svg') %}
  </div>
  <div class="icon-card__text">
    <h3 class="icon-card__text__title">{{ card-title }}</h3>
    {{ card-text }}
  </div>
</article>