.language-switcher {
  line-height: 1.3;
  list-style: none;
  margin: 0;
  padding: 0;
  word-spacing: 0;

  li {
    &,
    .settings__menu & {
      border-bottom: none;
      line-height: 1.3;
      margin: 0;
      padding: 0;
    }
  }

  a {
    &:link,
    &:visited {
      &.is-active {
        font-weight: bold;
        text-decoration: none;
        @supports (font-variation-settings: normal) {
          html:not(.novf) & {
            font-weight: 575;
          }
          html:not(.novf).wf-inactive & {
            font-family: $font-sans-fallback;
            font-variant-numeric: lining-nums;
            font-weight: bold;
            letter-spacing: 0.035em;
          }
        }
        &:before {
          content: "[";
        }
        &:after {
          content: "]";
        }
      }
    }
  }
  
}