
<h1>America's Cup Inn</h1>
								
		 
<p>6 Mary Street, Newport, RI 02840<br>
(401) 846-9200</p>

<h2>$59/night plus tax - $400/week plus tax</h2>

<p>Call (401) 743-1792 or email David at <a href="mailto:daviddrooker@gmail.com">daviddrooker@gmail.com</a>.</p>
	
<h3>Hotel Information</h3>
<p>17 Hotel Rooms with private bathrooms<br>
 3 Apartments with kitchens<br>
	7 Units with kitchenettes</p>					

<figure class="hotelImageContainer">
  <a target="_blank" href="https://www.visitrhodeisland.com/listing/americas-cup-inn/567/"><img class="hotelImage" src="../img/content/america-s-cup-inn_newport-ri.jpg"></a>
</figure>
<h3><a target="_blank" href="https://www.visitrhodeisland.com/listing/americas-cup-inn/567/">America's Cup Inn</a></h3>


<p style="margin-bottom: 20px">Located in the heart of historic downtown Newport, Rhode Island, The America’s Cup Inn has seventeen unique rooms and six suites styled with colonial era furnishings and wall coverings. <a target="_blank" href="https://www.visitrhodeisland.com/listing/americas-cup-inn/567/">Read More ›</a></p>
		  

		