.qh__page-header {
  background-color: var(--fc__header__bg);
  color: var(--fc__header__fg);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: $content-max-width;
    @supports (width: min(10px, 5px)) {
      max-width: var(--content-max-width);
    }
  }

  a {
    &,
    &:visited {
      color: var(--fc__header__link);
    }

    &:hover,
    &:focus {
      color: var(--fc__header__link--hover);
    }

    &:focus {
      outline-color: var(--fc__header__link--focus);
    }

    &:active {
      color: var(--fc__header__link--active);
    }
  }
}
