.qh__page-header {
  background-color: var(--fc__header__bg);
  color: var(--fc__header__fg);

  &__wrapper {
    @include qh-content-maxwidth();
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .qh__site-branding {
      flex: 1 0 66%;
    }

    .qh__site-search {
      flex: 1 0 34%;
    }
  }

  a {
    &,
    &:visited {
      color: var(--fc__header__link);
    }

    &:hover,
    &:focus {
      color: var(--fc__header__link--hover);
    }

    &:focus {
      outline-color: var(--fc__header__link--focus);
    }

    &:active {
      color: var(--fc__header__link--active);
    }
  }
}
