.qh__page-header {
  background-color: var(--fc__header__bg);
  color: var(--fc__header__fg);

  &__wrapper {
    @include qh-content-maxwidth();
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .qh__site-branding {
      flex: 1 1 66%;

      @include breakpoint-up($bp--large) {
        flex: 1 1 auto;
      }
    }

    a {
      &,
      &:visited {
        color: var(--fc__header__link);
      }

      &:hover,
      &:focus,
      &:active {
        color: var(--fc__header__link--hover);
      }

      &:focus {
        outline-color: var(--fc__header__link);
      }
    }
  }

  &__inner {
    flex: 1 1 0%;

    @include breakpoint-down($bp__show__desktop-nav) {
      // Handle the flash of content when it is there before JS debounces
      opacity: 0;
      visibility: hidden;
    }

    @include breakpoint-up($bp__show__desktop-nav) {
      flex: 1 1 34%;
      display: flex;
      flex-flow: column;
      align-items: flex-end;
      justify-content: center;
    }

    @include breakpoint-down($bp--large) {
      .qh__social-links__list {
        // Icons are a 44x44px canvas, but typically only use 24px of space
        // To align properly, we need to remove some space from the UL
        margin-top: - rem(8);
        margin-right: - rem(8);
      }
    }

    @include breakpoint-up($bp--large) {
      flex: 1 1 auto;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-end;

      .qh__social-links {
        padding: 0 $general-h-spacing;
      }
    }

    @media print {
      display: none;
    }
  } // end &__inner
}
