{#
/**
 * @file
 * Theme override to display the page header.
 *
 * Available variables:
 *
 *
 * Site name:
 * - header_preprocess_values: Array of three text lines from the theme settings configuration with three values (only main_line is required)
 *   - top_line
 *   - main_line
 *   - bottom_line
 *
 *
 * @see template_preprocess_page()
 */
#}
<header role="banner" class="qh__page-header">
  {% include '@organisms/global-header/global-header.twig' with {
    language_switcher: language_switcher 
  }
  %}

  <div class="qh__page-header__wrapper">
    {% include '@molecules/site-branding/site-branding.twig' with {
      header_preprocess_values: header_preprocess_values,
      front_page: front_page
    }
    %}

    <div id="js__search-social" class="qh__page-header__inner">
      {{ header_inner }}
      {% include '@molecules/site-search/site-search.twig' %}
    </div>
  </div>
</header>
