.qh__teaser-article {
  position: relative;
  z-index: 1;

  // <header>
  &__header {
    padding-bottom: ($general-v-spacing/3);
  }

  &__title {
    margin: 0;

    a,
    a:visited {
      text-decoration: none;
    }
  }

  &__published {
    margin-top: ($general-v-spacing/4);

    time {
      font-size: 87.5%; // about 16px
      font-style: italic;
      font-variant-numeric: oldstyle-nums;

    }
  }

  // <div> wrapper
  &__content {
    padding-bottom: $general-v-spacing;
  }

  // <p>
  &__excerpt {}

  // <p>
  &__cta {
    display: inline-block;
    padding-top: ($general-v-spacing/2);

    &::after {
      color: var(--fc__default__link);
      content: ' >';
      display: inline-block;
      transition: $transition-base;
      transform: translateX(0);
    }
  }

  // <a> with "Read article"
  &__cta &__link {

    // Do we want this effect? The whole article card is now clickable
    // and sighted keyboard users still can target the two links within
    // From https://inclusive-components.design/cards/
    &::before {
      content: '';
      display: block;
      position: absolute;
      @include qh-inset-supports(0);
      overflow: visible;
    }
  }

  // Because we are using the above method, a:hover will not affect children.
  // Therefore, we can not color the Headline when the Read More link is hovered.
  // Therefore therefore, we use a hover on the <article> element
  // Hover ONLY because keyboard focus still works as expected
  &:hover &__title a {
    color: var(--fc__default__link--hover);
  }

  &:hover &__cta::after {
    color: var(--fc__default__link--hover);
    transform: translateX(4px);
  }
}
