<article class="qh__cta qh__teaser-article">
  <header class="qh__teaser-article__header">
    <h3 class="qh__teaser-article__title">
      <a class="qh__teaser-article__link" href="{{ url }}">{{ title }}</a>
    </h3>
    <p class="qh__teaser-article__published"><time datetime="{# Should be a machine date like 2020-10-08 #}">{{ date }}</time></p>
  </header>
  <div class="qh__teaser-article__content">
    {% if excerpt | length > 0 %}
      {% autoescape false %}
        <p class="qh__teaser-article__excerpt">{{ excerpt|length > character_limit ? excerpt|slice(0, character_limit) ~ '...' : excerpt }}</p>
      {% endautoescape %}
    {% endif %}
    {% if cta|default('true') %}
      {% include "@molecules/cta-read-more/cta-read-more.twig" with {
        cta_read_text: alt_read_text,
        cta_url: url
      }
      %}
    {% endif %}
  </div>
</article>
