$table-cell-v-padding: 0.5rem;
$table-cell-h-padding: 0.75rem;

body {
  // Light as default
  --fc__table__color-bright: #{qh-get-color('quahog--dark')};
  --fc__table__border__h: #{qh-get-color('quahog--dark--trans25')};
  --fc__table__border__v: #{qh-get-color('quahog--dark--trans15')};

  // User changed theme to dark manually
  .dark & {
    // TODO: 'white' does not come back as valid map. Need to investigate further.
    --fc__table__color-bright: #{qh-get-color(white)};
    --fc__table__border__h: #{qh-get-color('white--trans25')};
    --fc__table__border__v: #{qh-get-color('white--trans15')};
  }

  // System preference dark mode but light class is not present
  @media (prefers-color-scheme: dark) {
    html:not(.light) & {
      --fc__table__color-bright: #{qh-get-color(white)};
      --fc__table__border__h: #{qh-get-color('white--trans25')};
      --fc__table__border__v: #{qh-get-color('white--trans15')};
    }
  }
}

// Adding affordance with an overflowing table is only possible if we can
// add a wrapper element in some sort of Twig template
// https://codepen.io/huijing/pen/XBGaNQ?editors=1100
// More ideas on accessible tables from Adrian Roselli:
// https://adrianroselli.com/2020/11/under-engineered-responsive-tables.html
table {
  background-color: transparent;
  border-spacing: 0;
  margin-bottom: $general-v-spacing;
  width: 100%;

  @include breakpoint-down($bp--medium) {
    // Make small viewports allow horizontal scrolling
    display: block;
    position: relative;
    overflow-y: auto;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  thead th {
    border-bottom: $border-sm solid var(--fc__table__border__h);
    color: var(--fc__table__color-bright);
    font-variant-numeric: lining-nums tabular-nums;
    vertical-align: bottom;
  }

  tbody td {
    font-variant-numeric: lining-nums tabular-nums;
    vertical-align: top;
  }

  tfoot th {
    border-top: $border-xs solid var(--fc__table__border__h);
    color: var(--fc__table__color-bright);
    vertical-align: top;
  }

  thead,
  tbody,
  tfoot {
    text-align: left;
  }

  // Row highlighting
  tr:hover td {
    background-color: var(--c__coffee-milk--trans10);
    color: var(--fc__table__color-bright);
  }

  // <p>-like typography styles applied via 02-text/00-typography
  th,
  td {
    padding: $table-cell-v-padding $table-cell-h-padding;
  }

  th {
    --p-font-wght: 550;

    & + th {
      border-left: $border-xs solid var(--fc__table__border__v);
    }
  }

  td {
    border-bottom: $border-xs solid var(--fc__table__border__h);

    & + td {
      border-left: $border-xs solid var(--fc__table__border__v);
    }
  }
}
