{% if publications %}
  <div class="qh__publications-list">

    {% if list_title %}
      <div class="qh__publications-list__title">
        <h2>{{ list_title }}</h2>
      </div>
    {% endif %}

    {% for publication in publications %}
      {% for type, languages in publication %}
        <h3>{{ type }}</h2>

        {% for language, nodes in languages %}
          <h4>{{ language }}</h3>

          <div class="qh__file-list">
            {{ nodes}}
          </div>

        {% endfor %}
      {% endfor %}
    {% endfor %}

  </div>
{% endif %}

