<div class="qh__text-card">
  {% if title %}
    <h3 class="qh__text-card-collection__title">{{ title }}</h2>
  {% endif %}

  {% if text %}
    <div class="qh__text-card-collection__text">
      {{ text }}
    </div>
  {% endif %}
</div>
