.qh__google-translator {
  font-family: var(--font-sans-vf);
  color: var(--fc__official__link);
  display: flex;
  padding-top: 1px;

  &__icon {
    display: inline-block;
    height: 1.25em;
    width: 1.25em;

    svg {
      width: 2rem;
      height: 2rem;
      position: relative;
      top: -18%;
      left: -50%;
    }
  }

  > a {
    display: inline-block;
    padding: 0.15rem 0.25rem;
    font-size: 87.5%;
    font-weight: 375;
  }
}


// Modal disclaimer
#__dimScreen {
  .message {
    background-color: var(--fc__default__bg);
    color: var(--fc__default__fg);

    > div {
      margin-top: $general-v-spacing;

      > a {
        margin-right: $general-h-spacing;
      }
    }
  }
}

// Google link/dropdown styles
[id='google_translator_element'] {

  .goog-te-gadget-icon {
    display: none !important;
  }

  .goog-te-gadget-simple {
    background-color: transparent;
    border: 0;
    color: var(--fc__official__link);
  }

  a,
  span,
  div {
    color: var(--fc__official__link) !important;
    font-size: var(--font-size-min);
    font-family: var(--font-sans-vf);

    &:hover,
    &:focus {
      color: var(--fc__official__link--hover) !important;
    }
  }

  a {
    font-size: 87.5%;
    display: inline-flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &:before {
      display: block;
      mask: url('../../source/images/icons/globe.svg');
      background-color: var(--fc__official__link);
      height: 2rem;
      width: 2rem;
      content: '';
    }
  }

  span:first-child {
    vertical-align: top;
  }

  a span {
    display: none !important;
  }

  a span:first-child {
    display: none !important;

    @include breakpoint-up($bp--large) {
      display: block !important;
    }
  }

  //a::before {
  //  content: ' ▼';
  //  background-image: url('../../images/icons/icon-globe.svg');
  //  background-size: contain;
  //  height: 20px;
  //  width: 20px;
  //}

  .goog-te-menu-value {
    white-space: nowrap;

    span {
      border: 0 !important;
      display: inline-block !important;
      white-space: normal;
      word-break: normal;
      word-wrap: break-word;
    }
  }

  // override default img styles
  img {
    display: none !important;
  }
}
