<p>Primary font: "Work Sans", "HelveticaNeue", "Helvetica", "Arial", sans-serif;</p>
<p><em>Primary font italic: "Work Sans", "HelveticaNeue", "Helvetica", "Arial", sans-serif;</em></p>
<p><strong>Primary font bold: "Work Sans", "HelveticaNeue", "Helvetica", "Arial", sans-serif;</strong></p>
<p class="font-secondary">Secondary font: "Roboto Slab", Georgia, Times, "Times New Roman", serif;</p>
<p class="font-secondary"><strong>Secondary font bold: "Roboto Slab", Georgia, Times, "Times New Roman", serif;</strong></p>