$color-quahog: #404040;
$color-navy-blue: #103052;
$color-rhody-red: #eb5152;
$color-ocean-state: #8fb9e2;
$color-hope-gold: #ffc709;

$color-ocean-state-tint1: #9fc9f2;
$color-ocean-state-shade1: #5994cf;
$color-quahog-tint1: #bfbfbf;

$color-link-link: #28428a;
$color-link-visited: #56329a;
$color-link-hover: #3377c2;
$color-link-focus: #3377c2;
$color-link-active: $color-rhody-red;

$color-text: $color-quahog;
$color-text-link: $color-link-link;
$color-text-link-visited: $color-link-visited;
$color-text-link-hover: $color-link-hover;
$color-text-link-focus: $color-link-focus;
$color-text-link-active: $color-link-active;
