html {
  background-color: var(--fc__body--bg);
  box-sizing: border-box;
  color: var(--fc__body--fg);
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 2rem 0;
  padding: 0;
}
