html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--fc__default__bg);
  color: var(--fc__default__fg);
  margin: 0;
  padding: 0;
}

::selection {
  background-color: var(--fc__primary__bg);
  color: var(--fc__primary__fg);
}

nav ul,
nav ol {
  @include qh-list-reset;
}

// Remove visible focus for mouse users only
:focus:not(:focus-visible) {
  border: 0;
  outline: none;
}

// Suppress the focus outline on elements that cannot be accessed via keyboard.
// This prevents an unwanted focus outline from appearing around elements that
// might still respond to pointer events.
// Credit: https://github.com/suitcss/base
[tabindex="-1"]:focus {
  outline: 0 !important;
}

// Remove all animations and transitions for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
