.qh__teaser-promotion {
  border: $border-sm solid var(--fc__default__border);
  text-align: center;
  text-decoration: none;

  & + & {
    margin-top: $general-v-spacing;
  }

  &--link {
    display: block;

    // Hide external link indicator.
    &::before,
    &[target="_blank"]::after {
      display: none;
    }

    &:hover {
      border: $border-sm solid var(--fc__default__link--hover);
    }
  }

  &__layout {
    display: flex;
    flex-direction: column;

    // Styles pertaining to promotions inside flexible content areas.
    .qh-layout__content & {

      @include breakpoint-up($bp--xxlarge) {
        flex-direction: row;

        .qh__teaser-promotion__content  {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0 auto;
        }
      }
    }
  }

  &__title {
    margin: $general-v-spacing $general-h-spacing;
  }

  &__text {
    margin: $general-v-spacing $general-h-spacing;
    color: var(--fc__default__fg);
  }
}
