<article class="qh__single-event">
  <header class="qh__single-event__header">
    <h1 class="qh__h2">Land to Sea Speaker Series: Sara Churgin, Eastern Rhode Island Conservation District and Allison McNally, Aquidneck Island Planning Commission</h1>
    <div class="qh__single-event__meta">
      <!-- If only a start date -->
      <p>
        <span class="small-text qh__single-event__meta__label">Date: </span>
        <time datetime="W3C date format">February 9, 2021</time>
      </p>
      <!-- If only a start date and a start time -->
      <p>
        <span class="small-text qh__single-event__meta__label">Date: </span>
        <time datetime="W3C date format">February 9, 2021 —<span class="visually-hidden">, </span> 6:30pm</time>
      </p>
      <!-- If a start date, start time, and a duration -->
      <p>
        <span class="small-text qh__single-event__meta__label">Date: </span>
        <time datetime="W3C date format">February 9, 2021 —<span class="visually-hidden">, </span> 6:30pm to 7:30</time>
      </p>
      <!-- If a start date, start time, end date, and end time -->
      <p>
        <span class="small-text qh__single-event__meta__label">Date: </span>
        <time datetime="W3C date format">Starting at 4:00pm, February 9, 2021</time> until <time datetime="W3C date format">11:00am, February 10, 2021</time>
      </p>
      <!-- If a start date and end date (no times) AND all day is checked -->
      <!-- If a start date, start time, end date, and end time AND all day is checked -->
      <p>
        <span class="small-text qh__single-event__meta__label">Date: </span>
        All day from <time datetime="W3C date format">February 9, 2021</time> to <time datetime="W3C date format">February 10, 2021</time>
      </p>

      <!-- If location -->
      <p>
        <span class="small-text qh__single-event__meta__label">Location: </span>
        <span class="qh__single-event__meta__address">Location string, address expected</span>
      </p>

      <!-- If Virtual Meeting URL present (new field) -->
      <p>
        <span class="small-text qh__single-event__meta__label">Virtual Meeting: </span>
        <a class="qh__single-event__meta__url" href="#virtual-join-url">Virtual join URL trimmed of http/s and or trailing slash</a>
      </p>

      <!-- If Registration Required URL present (new field) -->
      <p>
        <span class="small-text qh__single-event__meta__label">Registration: </span>
        <a class="qh__single-event__meta__url" href="#registration-url">Registration URL trimmed of http/s and or trailing slash</a>
      </p>
    </div>
  </header>

  <div class="qh__single-event__content">

    <!-- Description -->
    <p>The Land to Sea Speaker Series is a monthly initiative aiming to inspire and empower the local community in actionable steps to improve our local environment. </p>

  </div>

  <!-- Only if Contact or Event Type has data -->
  <footer class="qh__single-event__footer">
    <!-- If Event Type -->
    <p>
      <span class="small-text qh__single-event__meta__label">Event Type: </span>
      Event Type 1, Event Type 2
    </p>

    <!-- If Contact -->
    <p>
      <span class="small-text qh__single-event__meta__label">Contact: </span>
      Contact string, expected name and phone number but email address might be present. Should this be a WYSIWYG textarea?
    </p>
  </footer>
</article>
